.message-section
  &__title
    margin-bottom 1.8rem
    sectionTitle()

  &__container
    max-width 370px
    margin 0 auto
    
    @media screen and (max-width: 425px)
      max-width 320px