@import '../../../styles/mixins.styl'

.message-section
  &__title
    sectionTitle()
    margin-bottom 1.8rem

  &__container
    max-width 370px
    margin 0 auto

    @media screen and (max-width: 768px)
      max-width 310px