.message-section
	&__header
		margin-bottom 1.8rem
	&__chat
		font-size 1.96vw
		@media screen and (min-width: 1200px)
			font-size 1.292307692307692rem
		@media screen and (max-width: 751px)
			font-size 0.8087692307692308rem