@import '../../../styles/mixins.styl'

.profile-section
  &__title
    sectionTitle()
    margin-bottom 2.032967033rem
    letter-spacing 0.05rem
    word-spacing 0.3rem

  &__container
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around

  &__card
    margin-bottom 2rem
    width 100%
    max-width 360px
    min-width 260px

    @media screen and (max-width: 900px)
      margin 0 1rem 2rem
