.profile-section
  &__title
    margin-bottom remify(37px)
    letter-spacing 0.05rem
    word-spacing 0.3rem
    sectionTitle()

  &__container
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around

  &__card
    margin-bottom 2rem
    width 100%
    max-width 370px
    min-width 260px
    
    @media screen and (max-width: 900px)
      margin-right 0.5rem
      margin-left 0.5rem