mixin mapSection()
  section.map-section
    h2.map-section__title location
    .map-section__map
      +map({
        address: {
          street: '1259 California st',
          city: 'San francisco, Ca'
        }, 
        mapCenter: {
          lat: 37.7947, 
          lng: -122.41627
        },
        pinCenter: {
          lat: 37.791095,
          lng: -122.415075
        }
      })