include ../map/map.pug

mixin mapSection()
    .map-section
        .map-section__header.section-title location
        .map-section__map
            +map("map", 37.7947, -122.41627, 37.791095, -122.415075)
            