mixin mapSection()
    .map-section
        .map-section__header location
        .map-section__container
            .map-section__map
                +map()
            .map-section__footer
                .map-section__title
                .map-section__address
                .map-section__icons
                    .map-section__search
                    .map-section__tag