mixin arrowSection(content)
 .arrow-section
  h1.arrow-section__header.section-title arrow buttons
  .arrow-section__container
   .arrow-section__button
    +arrowButton({direction: "left"})
   .arrow-section__button
    +arrowButton({direction: "right"})
   .arrow-section__button
    +arrowButton({direction: "left", disabled: true})
   .arrow-section__button
    +arrowButton({direction: "right", disabled: true})
   .arrow-section__button
    +arrowButton({direction: "left"})
   .arrow-section__button
    +arrowButton({direction: "right"})