include ../arrow-button/arrow-button.pug

mixin arrowSection(content)
	.arrow-section
		h1.arrow-section__header arrow buttons
		.arrow-section__container
			.arrow-section__button
				+arrowButton('left')
			.arrow-section__button
				+arrowButton('right')
			.arrow-section__button
				+arrowButton('left')(class='disabled')
			.arrow-section__button
				+arrowButton('right')(class='disabled')
			.arrow-section__button
				+arrowButton('left')
			.arrow-section__button
				+arrowButton('right')