@import '../../styles/mixins.styl'

.arrow-section
  &__title
    sectionTitle()
    margin-bottom 2.5rem
    letter-spacing 0.06rem
    word-spacing 0.3rem

  &__container
    display flex
    flex-flow row wrap
    justify-content space-between
    margin 0 auto
      
  &__button
    margin-bottom 1.3rem
    font-size 1rem

    &:nth-child(2n+2)
      @media screen and (max-width: 672px)
        order 2
