include ../arrow-button/arrow-button.pug

mixin arrowSection(sectionData)
  - const { title, elements } = sectionData;
  section.arrow-section
    h2.arrow-section__title= title
    .arrow-section__container
      each item in elements
        - const { direction } = item;
        +arrowButton({ direction })
      each item in elements
        - const { direction } = item;
        +arrowButton({ direction, disabled: true })
      each item in elements
        - const { direction } = item;
        +arrowButton({ direction })