.about-section
	background-color color-bg
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	&__text
		flex 600px 1 1
		padding 2rem
	&__title
		margin-bottom 1rem
	&__intro
		font-size 1rem
		color color-text
		text-align justify
		& span 
			display block
			padding-top 0.9rem
		& a
			float right
			color color-warm
			text-decoration underline
			&:hover
				text-decoration none
			&:active
				text-decoration underline
				color color-text
	&__video
		flex 500px 0 0
		padding 2rem
		padding-left 0
