mixin inputField(settings)
  - const typeAttr = settings.type || 'text' ;
  - const nameAttr = settings.name || '';
  - const placeholderAttr = settings.placeholder || '';
  - const arealabelAttr = settings.arealabel || '';
  - const requiredAttr = settings.isRequired || false;
  input.input-field(
    type = typeAttr
    name = nameAttr
    placeholder = placeholderAttr
    arealabel = arealabelAttr
    required = requiredAttr
  )