.speaker-card
  display flex
  flex-direction column
  width 100%
  height 100%
  padding 1em
  background-color color-warm
  border-radius 10px
  overflow hidden
  &__user-card
    width 100%
    margin-bottom 1rem
  &__text
    font-size 1em
    font-weight lighter
    text-align center
    max-height 8.3em
    line-height 1.2em
    color white
    flex-grow 1