include ../pin/pin.pug

mixin map(_id, centerLat, centerLng, pinLat, pinLng)
    section.map
        .map__container(id=_id, data-lat= centerLat, data-lng= centerLng, data-plat= pinLat, data-plng= pinLng)
        .map__footer
            .map__title Meet us!
            .map__address
                .map__street 1259 California st
                .map__city San francisco, Ca
            .map__icons
                .map__search
                .map__pin
                    +pin("white", "transparent")