mixin map(id)
	iframe(id=id src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d25222.28071441845!2d-122.41559199999999!3d37.795076!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1539678711133" width="100%" height="100%" frameborder="0" style="border:0; pointer-events: none;" allowfullscreen)