canvas#donut-chart(height="400" width="400")
	div(data-value="10") yes
	div(data-value="15") maybe
	div(data-value="5") unlikely
	div(data-value="30") no
	div(data-value="7") no
	div(data-value="3") no
	div(data-value="7") no
	div(data-value="3") no
	div(data-value="10") no
	div(data-value="10") no
