mixin donutChart(settings)
  - let className = '';
  - if (settings.isPercentage) className = 'donut-chart_size_narrow';
  .donut-chart(class=className data-values=settings.values data-colors=settings.colors)
    - if (settings.isPercentage)
      .donut-chart__label.js-donut-chart__label