.pass-selector
	&__header
		margin-bottom 3rem
	&__options
		display table
		width 100%
		text-align center
		border-collapse collapse
	&__row
		display table-row
	&__column
		display table-column
		width 33.33333333333333%
		border-right 20px solid white
		&:last-of-type
			border-right none
		&:hover
			background-color color-bg
	&__pass-name
		text-transform capitalize
		color color-warm
		font-weight bold
		font-size 2.5rem
		padding 1rem
		display table-cell
		border-bottom 3px solid
	&__price
		font-weight lighter
		font-size 2rem
		padding 1rem
		color color-text
		display table-cell
	&__text
		font-weight lighter
		font-size 1rem
		padding 1rem
		color color-text
		display table-cell
	&__tickbox
		display table-cell
		padding 1rem