.pass-selector
  &__header
    margin-bottom 1rem
  &__options
    display table
    width 100%
    text-align center
    border-collapse collapse
  &__row
    display table-row
  &__column
    display table-column
    width 33.33333333333333%
    border-right 20px solid white
    @media screen and (max-width:375px)
      border-right 10px solid white
    &:nth-child(3)
      border-right none
    &:hover
      @media (hover:hover)
        background-color color-bg
    &:active
      @media (hover:none)
        background-color color-bg
  &__pass-name
    text-transform capitalize
    color color-warm
    font-weight bold
    font-size 2.5rem
    display table-cell
    border-bottom 2px solid
    padding 1rem 0
    @media screen and (max-width:768px)
      font-size 1.5rem
    @media screen and (max-width:375px)
      font-size 1.1rem
  &__price
    font-weight lighter
    font-size 2rem
    padding 1rem 0
    color color-text
    display table-cell
    @media screen and (max-width:768px)
      font-size 1.3rem
    @media screen and (max-width:375px)
      font-size 1rem
  &__text
    font-weight lighter
    font-size 1rem
    padding 1rem 0
    color color-text
    display table-cell
    @media screen and (max-width:375px)
      font-size 0.8rem
  &__tickbox
    display table-cell
    padding 1rem