@import '../../styles/mixins.styl'

.news-section
  &__title
    sectionTitle()
    margin-bottom 2.4rem
  
  &__container
    display flex
    flex-flow row nowrap
    justify-content space-around
    width 100%

    @media screen and (max-width: 900px)
      flex-wrap wrap
  
  &__news-card
    flex 20.41120879rem 0 1

    &:first-child
      margin-right 3%

      @media screen and (max-width: 900px)
        margin 0 0 1.3rem 0

      
    
