mixin newsSection()
  section.news-section
    h2.news-section__title news & events
    .news-section__container
      .news-section__news-card
        +newsCard({
          title: 'It\'s all going downhill',
          date: '08.24.2013',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.',
          img: 'article-img.jpg'
        })
      .news-section__news-card
        +newsCard({
          title: 'This is the title',
          date: '08.24.2013',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
          img: 'event-img.jpg',
        }, { type: 'event' })

