.schedule-page
	width 100%
	margin-top 100px
	@media screen and (max-width: 425px)
		margin-top 60px
	&__header
		margin 2rem auto
		margin-left 1rem
	&__main
		width 100%
		max-width 1600px
		margin 0 auto 2rem
