@import '../../../styles/mixins.styl'

.schedule
  width 100%
  margin-top 100px
  display flex
  flex-direction column
  min-height 100%

  @media screen and (max-width: 425px)
    margin-top 60px

  &__main
    flex 1 0 auto

  &__title
    margin 2rem auto
    pageTitle()

  &__content
    width 100%
    max-width 1600px
    margin 0 auto 2rem
    
  &__footer
    flex 0 0 auto