@import '../../../styles/mixins.styl'

.schedule
  width 100%
  margin-top 5.494505495rem
  display flex
  flex-direction column
  min-height 100%

  &__main
    flex 1 0 auto

  &__title
    pageTitle()
    margin 2rem auto

  &__content
    width 100%
    max-width 1600px
    margin 0 auto 2rem
    
  &__footer
    flex 0 0 auto