@import '../../../styles/variables.styl'
@import '../../../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css'

.speaker-carousel
  border-left 0.5494505494505495rem solid white
  border-right 0.5494505494505495rem solid white

  &__cards
    border-radius 0.5494505494505495rem
    background-color #c6c6c6
    width 100%
    padding 0.5494505494505495rem 0.5494505494505495rem 0 0.5494505494505495rem
    margin 3rem auto 1rem

  &__card-wrapper
    display flex
    flex-flow row nowrap
    overflow-x auto
    align-items stretch
    justify-content flex-start

  &__card
    width 21rem
    flex-shrink 0
    overflow hidden
    margin-right 0.8rem

    @media screen and (max-width: 425px)
      width 100%
      max-width 19rem

    &:last-child
      margin-right 0
  
  &__controls
    display flex
    justify-content center
    align-items center
    margin-bottom 3rem

    &_hidden
      display none

  &__arrow-button
    flex auto 0 0

  &__link
    margin 0 1rem 0.3rem
    color color-cyan
    text-decoration underline
    cursor pointer
    font-size normal 1rem/1 font-family

    &:hover
      @media (hover:hover)
        text-decoration none 

    &:active
    &:visited
      @media (hover:hover)
        text-decoration underline

      @media (hover:none)
        text-decoration none
  
  &_view_small
    & ^[0]__arrow-button
      display none

    & ^[0]__cards
      text-align center
      background-color white

    & ^[0]__card-wrapper
      flex-wrap wrap
      justify-content center

    & ^[0]__card
      margin 0 0 1rem

      &:nth-child(n+4)
        display none

    &^[0]_view_full ^[0]__card-wrapper
      max-height none
      
  &_view_full
    & ^[0]__arrow-button
      display none

    & ^[0]__cards
      text-align center
      background-color white

    & ^[0]__card-wrapper
      flex-wrap wrap
      justify-content center

    & ^[0]__card
      margin 0 0.8rem 1rem 0.8rem

    &^[0]_view_small ^[0]__card
      margin 0 0 1rem
      display block

  & .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    background-color rgba(0,0,0,0.3)

	& .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
    background-color rgba(0,0,0,0.5)

	& .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
  & .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: rgba(0,0,0,0.7)