include ../email-form/email-form.pug
include ../tick-box/tick-box.pug
include ../toggle-switch/toggle-switch.pug

mixin formSection()
	.form-section
		h1.form-section__header form elements
		.form-section__container
			.form-section__form
				+emailForm('email-form')
			.form-section__toggles
				h1.form-section__header toggles
				+toggleSwitch(false)
				+toggleSwitch(true)
			.form-section__tickbox
				h1.form-section__header tick boxes
				+tickBox('tickbox1', true)
				+tickBox('tickbox2', false)