mixin formSection()
 .form-section
  h1.form-section__header.section-title form elements
  .form-section__container
   .form-section__form
    +emailForm()
   .form-section__checkboxes
    .form-section__toggles
     h1.form-section__header.section-title toggles
     .form-section__toggle
      +toggleSwitch(false)
     .form-section__toggle
      +toggleSwitch(true)
    .form-section__tickboxes
     h1.form-section__header.section-title tick boxes
     .form-section__tickbox
      +tickBox({value:"1", name:"tickbox", id:"tickbox1", checked: true})
     .form-section__tickbox
      +tickBox({value:"2", name:"tickbox", id:"tickbox2"})