mixin formSection()
  section.form-section
    h2.form-section__title form elements
    .form-section__container
      .form-section__form
        +emailForm()
      .form-section__checkboxes
        form.form-section__toggles
          h2.form-section__title toggles
          .form-section__toggle
            +toggleSwitch(false)
          .form-section__toggle
            +toggleSwitch(true)
        form.form-section__tickboxes
          h2.form-section__title tick boxes
          .form-section__tickbox
            +tickBox({ value: "1", name: "tickbox", id: "tickbox1", checked: true })
          .form-section__tickbox
            +tickBox({ value: "2", name: "tickbox", id: "tickbox2" })