include ../social-icon/social-icon.pug

mixin userCard(user, colored)
	- var image = require("../assets/img/"+ user.img)
	- var icons = [{name: 'facebook'}, {name: 'twitter'}, {name: 'dribbble'}];
	- var className = "user-card";
	- if (colored === true) {
	-	className += " user-card_colored";
	-		icons.forEach(function(item) {
	-			item.isWhite = true;
	-	});
	- }
	div(class = className)
		.user-card__photo(style='background-image: url('+image+')')
		.user-card__box
			h2.user-card__name!= user.name
			h3.user-card__position!= user.position
			.user-card__icons
				each item in icons
					a.user-card__icon(href="#" title!=item.name)
						+socialIcon(item)
				