@import '../common.blocks/slider/styl/asRange.css'

.slider
	width 98%
	margin-left 2px

	&_type_scale .asRange-pointer
		background-color color-cold

	&__scale
		padding 0
		margin 0.7rem 0 0 0
		display flex
		justify-content space-between

	&__scale-item
		display inline-block
		color darken(color-bg, 8.5)
		font-size (14.3px/initial-font-size)rem
		font-weight bold