@import '../common.blocks/slider/styl/asRange.css'

.slider-container
	width 500px

.slider1
	margin-bottom 60px

.slider1 .asRange-tooltip
	font-weight bold

.slider1 .asRange-selected
	background-color #e5e5e5

.slider2 .asRange-pointer
	background-color color-cold

.scale
	margin-top 10px
	display flex
	justify-content space-between

.scale-item
	display inline-block
	color color-bg
	font-size 21px
	font-weight bold

.slider2
	margin-left 40px