include ../messenger/messenger.pug

mixin messageSection(settings = {})
  - const { title = 'messaging' } = settings;
  section.message-section
    h2.message-section__title= title
    .message-section__container
      +messenger({ 
        name: 'Sarah Brown',
        image: 'sarah-brown.jpg',
        inbox: 'Hey! So are we cool to meet at the art gallery? Say 8pm',
        outbox: 'Yeah that sounds great. See you then.'
      })