include ../messenger/messenger.pug

mixin messageSection()
	.message-section
		.message-section__header.section-title messaging
		.message-section__chat
			+messenger({name: "Sarah Brown", image: "sarah-brown.jpg", inbox: "Hey! So are we cool to meet at the art gallery? Say 8pm", outbox: "Yeah that sounds great. See you then."})