.search-section
	&__search-box
		margin-bottom 1.19rem
		&:nth-child(2)
			margin-bottom 1.25rem

	&__container
		width 100%
		max-width 600px
		margin 0 auto

	&__header
		margin-bottom 1.46rem
		letter-spacing 0.05rem
