@import '../../../styles/mixins.styl'

.uidemo
  width 87%
  margin remify(105px) auto remify(142px)
  text-align center

  @media screen and (max-width: 425px)
    margin 70px auto 70px

  &__button-section
    width percentage(605px/791.69px)
    margin 0 auto

    @media screen and (max-width: 915px)
      width 100%

  &__arrow-section
    width percentage(549px/791.69px)
    margin 2rem auto 0
    max-width 610px

    @media screen and (max-width: 915px)
      width 100%

    @media screen and (max-width: 689px)  
      max-width 260px

  &__chart-section
    width 100%
    margin 1.65rem auto 0

    @media screen and (max-width: 915px)
      max-width 640px

  &__slider-section
    width percentage(771px/791.69px)
    margin remify(15px) auto 0

  &__stages-section
    width percentage(776px/791.69px)
    margin 0 auto

  &__form-section
    width percentage(773px/791.69px)
    margin 4.1rem auto 0
    max-width 1300px

  &__search-section
    display inline-block
    width percentage(375px/791.69px)
    margin remify(37px) percentage(45px/791.69px) 0 auto
    max-width 600px
    vertical-align top

    @media screen and (max-width: 915px)
      margin-right auto
      width 100%

    @media screen and (min-width: 1625px)
      margin-right auto

  &__profile-section
    display inline-block
    width percentage(348px/791.69px)
    margin-top remify(37px)
    vertical-align top
    max-width 634px
    
    @media screen and (max-width: 915px)
      margin-left auto
      margin-right auto
      max-width unset
      width 100%

  &__news-section
    width percentage(772px/791.69px)
    margin 4.7rem auto 0
    max-width 950px
    
    @media screen and (max-width: 900px)
      margin 2rem auto 0

  &__map-section
    width 98.1%
    margin 3.3rem auto 0

  &__calendar-section
    display inline-block
    width percentage(363px/791.69px)
    margin 3.6rem 4.4% 0 auto
    vertical-align top 
    
    @media screen and (max-width: 850px)
      width 100%
      margin-right 0

  &__message-section
    display inline-block
    width percentage(374px/791.69px)
    margin-top 3.6rem
    vertical-align top
    @media screen and (max-width: 850px)
      width 100%

  &__video-section
    width 97.7%
    margin 3.7rem auto 0
    max-width 1000px
