@import '../../../styles/mixins.styl'

.uidemo
  &__main
    width 87%
    max-width 54.94505494505495rem
    margin 6rem auto 7.8rem
    text-align center

  &__button-section
    width 78%
    max-width 39.56043956043956rem
    margin 0 auto
    
    @media screen and (max-width: 900px)
      width 100%
    
    @media screen and (max-width: 672px)
      max-width 21.97802197802198rem

  &__arrow-section
    width 69.34532455885511%
    margin 2.2rem auto 0
    max-width 30.21978021978022rem

    @media screen and (max-width: 900px)
      width 100%

    @media screen and (max-width: 672px)
      max-width 14.28571428571429rem

  &__chart-section
    width 100%
    margin 1.9rem auto 0

    @media screen and (max-width: 900px)
      max-width 35.16483516483516rem

  &__slider-section
    width 97.38660334221728%
    margin 1rem auto 0

  &__stages-section
    width 98.01816367517589%
    margin 2.1rem auto 0

  &__form-section
    width 97.63922747540073%
    margin 4.1rem auto 0
    max-width 71.42857rem

  &__search-section
    display inline-block
    width 47.36702497189557%
    margin 2.032967033rem 5.684042997% 0 auto
    max-width 32.96703rem
    vertical-align top

    @media screen and (max-width: 900px)
      width 100%
      margin-right auto

  &__profile-section
    display inline-block
    width 43.956599174%
    margin-top 2.032967033rem
    vertical-align top

    @media screen and (max-width: 900px)
      width 100%
      margin 4rem auto 0

  &__news-section
    width 97.512915409%
    margin 4.9rem auto 0
    max-width 52.1978022rem

    @media screen and (max-width: 900px)
      margin 2rem auto 0
      max-width 27.47252747rem

  &__map-section
    width 98.1%
    margin 3.5rem auto 0

  &__calendar-section
    display inline-block
    width 45.851280173%
    margin 3.9rem 4.4% 0 auto
    vertical-align top

    @media screen and (max-width: 900px)
      width 100%
      margin-right auto

  &__message-section
    display inline-block
    width 47.240712905%
    margin-top 3.9rem
    vertical-align top

    @media screen and (max-width: 900px)
      width 100%

  &__video-section
    width 97.7%
    margin 3.9rem auto 0

    @media screen and (max-width: 425px)
      margin-top 2rem
