extends ../../templates/layout.pug

include ../../common.blocks/email-form/email-form.pug
include ../../common.blocks/map/map.pug
include ../../common.blocks/online-help/online-help.pug
include ../../common.blocks/footer-section/footer-section.pug
include ../../common.blocks/navigation-bar/navigation-bar.pug

block title
  title Contact Us

block content
  -
    const data = require('../../assets/data/data.json');
    const { navigation, footer, map } = data;
  .contacts
    .contacts__navigation-bar
      +navigationBar(navigation)
    main.contacts__main
      h1.contacts__title Contact Us
      section.contacts__email
        p.contacts__text Got a question? We'd love to hear from you. Send us a message and we'll respond as soon as possible.
        .contacts__form
          +emailForm()
      section.contacts__map
        +map(map)
      aside.contacts__online-help
        +onlineHelp()
    .contacts__footer
      +footerSection(footer)