input.toggle-switch__checkbox
	display none
	&:checked + .toggle-switch__slider
		background-color color-cold
	&:focus + .toggle-switch__slider
		box-shadow 0 0 1px color-cold
	&:checked + .toggle-switch__slider::before
		transform translateX(26px)