.toggle-switch
  position relative
  display inline-block
  width 77px
  height 31px
  cursor pointer
  noselect()

  &__checkbox
    display none
    &:checked + .toggle-switch__slider
      background-color color-cold
    &:checked + .toggle-switch__slider::before
      transform translateX(45px)
    &:checked ~ .toggle-switch__slider::after
      content 'ON'
      transform translateX(-27px)

  &__slider
    position absolute
    cursor pointer
    top 0
    left 0
    right 0
    bottom 0
    background-color #ccc
    transition .4s
    border-radius 50px
    outline none
    &::before
      position absolute
      content ''
      height 25px
      width 25px
      left 4px
      top 3px
      background-color white
      transition .4s
      border-radius 50%
    &::after
      content 'OFF'
      position absolute
      top 5px
      right 12px
      color white
      font-weight bold
      font-size 0.85rem
      transition .4s
    &:focus
      box-shadow 0 0 7px color-outline