input.toggle-switch__checkbox
	display none
	&:checked + .toggle-switch__slider
		background-color color-cold
	&:checked ~ .toggle-switch__text::before
		content 'ON'
		transform translateX(-30px)
	&:focus + .toggle-switch__slider
		box-shadow 0 0 1px color-cold
	&:checked + .toggle-switch__slider::before
		transform translateX(67px)