.talks-section
	&__title
		margin-bottom 2rem
	&__category
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-evenly
	&__card
		width 48.44%
		height 29.8vw
		max-width 445.61px
		max-height 327.8px
		min-width 260.11px
		min-height 193.69px
		margin-bottom 1rem
		