.talks-section
	text-align center
	&__header
		color color-cold-darker
	&__day
		font-size 2rem
		font-weight lighter
		display block
		margin 0.5rem 0 0 1rem
	&__date
		font-size 3rem
		font-weight bold
		margin 0 0 0.5rem 1rem
		display block
	&__card
		height 29.8vw
		max-width 445.61px
		max-height 327.8px
		min-width 260.11px
		min-height 193.69px
		margin-bottom 1rem
	&__events
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-around
		align-items center
		background-color color-bg
		border-radius 10px
	&__event
		text-align center
		margin 1rem
	&__time
		color color-text
		font-size 1.3rem
		margin-bottom 2rem
		font-weight lighter
	


		