include ../profile-card/profile-card.pug

mixin speakerCard(speakerData = {})
  - const { text = '' } = speakerData;
  article.speaker-card.js-speaker-card
    .speaker-card__profile-card
      +profileCard(speakerData)
    p.speaker-card__text.js-speaker-card__text!= text