@import '../../styles/variables.styl'
@import '../../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css'

.speaker-card
  display flex
  flex-flow column nowrap
  width 100%
  height 100%
  padding 1rem
  background-color color-orange
  border-radius 0.549450549rem
  overflow hidden

  &__profile-card
    width 100%
    margin-bottom 1rem
    
  &__text
    font lighter 1rem font-family
    text-align center
    max-height 8.5rem
    color white
    flex-grow 1
    overflow-y auto