mixin registrationForm()
  section.registration-form
    form.registration-form__form.js-registration-form__form(action='register.php' method='post')
      section.registration-form__stage.registration-form__stage_first
        label.registration-form__name
          input.registration-form__input(type="text" name="name" placeholder="Your Name" area-label="Name" required)
          .registration-form__bubble
        label.registration-form__email
          input.registration-form__input(type="email" name="email" placeholder="Your Email" area-label="Email" required)
          .registration-form__bubble
        .registration-form__subscribe
          .registration-form__subscribe-text Subscribe to Web Talks newsletters
          .registration-form__checkbox
            +toggleSwitch(true)
      section.registration-form__stage.registration-form__stage_second
        +passSelector()
      section.registration-form__stage.registration-form__stage_third
        .registration-form__policy-checkbox
          +tickBox({ value: '1', name: 'tickbox-policy' })
        .registration-form__policy-text I agree with Web Talks Terms and Conditions and the Privacy Policy
        .registration-form__button.js-registration-form__button
          +button({ title: 'register', color: 'reverse', size: 'responsive' })
