mixin registrationForm(id)
	section.registration-form
		form.registration-form__form(id=id action='register.php' method='post')
			.registration-form__first-stage
				.registration-form__name
					.registration-form__input
						+inputField({type:"text", name:"name", placeholder:"Your Name", arealabel:"Name", required:true})
					.registration-form__bubble
				.registration-form__email
					.registration-form__input
						+inputField({type:"email", id:"email", name:"email", placeholder:"Your Email", arealabel:"Email", required:true})
					.registration-form__bubble
				.registration-form__subscribe
					.registration-form__subscribe-text Subscribe to Web Talks newsletters
					.registration-form__checkbox
						+toggleSwitch(true)
			.registration-form__pass-selector
				+passSelector()
			.registration-form__last-stage
				.registration-form__policy-checkbox
					+tickBox({value:"1", name:"tickbox-policy", id:"tickbox-policy"})
				.registration-form__policy-text I agree with Web Talks Terms and Conditions and the Privacy Policy
				.registration-form__button
					+button({title: "register", color: "reverse", size: "responsive"})
