include ../bread-crumbs/bread-crumbs.pug
include ../subscribe-form/subscribe-form.pug
include ../tick-box/tick-box.pug
include ../pass-selector/pass-selector.pug
include ../policy-tickbox/policy-tickbox.pug
include ../button/button.pug

mixin registrationForm(settings = {})
  -
    const {
      title = 'Join us at Web Talks 2019',
      buttonTitle = 'register',
    } = settings;
  section.registration-form.js-registration-form
    form.registration-form__form.js-registration-form__form
      header.registration-form__header.js-registration-form__header
        h1.registration-form__title= title
        .registration-form__bread-crumbs
          +breadCrumbs({ active: 1, max: 3 })
      section.registration-form__stage.js-registration-form__stage
        .registration-form__subscribe-form
          +subscribeForm()
      section.registration-form__stage.js-registration-form__stage
        .registration-form__pass-selector
          +passSelector()
      section.registration-form__stage.js-registration-form__stage
        .registration-form__submit
          .registration-form__policy-tickbox
            +policyTickbox()
          .registration-form__button.js-registration-form__button
            +button({ title: buttonTitle, color: 'reverse' })
