.arrow-section
  &__title
    margin-bottom 2.5rem
    letter-spacing 0.06rem
    word-spacing 0.3rem
    sectionTitle()

  &__container
    display flex
    flex-direction row
    justify-content space-between
    flex-wrap wrap
    margin 0 auto
      
  &__button
    margin-bottom 1.3rem
    font-size 1rem
    &:nth-child(2n+2)
      @media screen and (max-width: 689px)
        order 2