.arrow-section
	&__header
		margin-bottom 2.5rem
		letter-spacing 0.06rem
		word-spacing 0.3rem

	&__container
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap wrap
		margin 0 auto
			
	&__button
		font-size 1rem
		margin-bottom 1.3rem
		&:nth-child(2n+2)
			@media screen and (max-width: 689px)
				order: 2