.event-card
	font-size 1rem
	background-color color-cold
	border-radius 5px
	width 100%
	height @width
	overflow hidden

	&__image
		background-repeat no-repeat
		background-position 0px 0px
		background-clip border-box
		display inline-block
		width 33%

	&__content
		font-size inherit
		padding remify(30px)
		overflow hidden
		display inline-block
		width 77%

	