.event-card
	background-color color-cold
	border-radius 10px
	width 100%
	position relative
	padding 45px

.event-card__image
	width 185px
	background-repeat no-repeat
	float left

.event-card__title
	font-size 24.09px
	margin-bottom 18px
	color white
	font-weight bold

.event-card__date
	font-size 140px
	color white
	margin-bottom 50px
	font-weight bold

.event-card__month
	font-size 57.81px
	color white
	text-transform capitalize

.event-card__text
	font-size 21.2px
	overflow hidden

