.news-card
  display flex
  align-items stretch
  width 100%
  height 100%
  text-align left
  background-color color-warm
  border-radius 0.274725274725275rem
  overflow hidden
  &__image
    flex 123px 0 2
    background-repeat no-repeat
    background-position 0px 0px
    background-clip border-box
    background-size cover
    background-color inherit
  &__content
    display flex
    flex-direction column
    flex-wrap nowrap
    justify-content flex-start
    flex 250px 2 1
    padding 1.4rem 1.3rem 1.8rem 1.6rem
    overflow hidden
    @media screen and (max-width: 375px)
      padding 1.2rem 1rem 1.2rem 1.5rem
  &__title
    flex auto 0 0
    margin-bottom 0.35rem
    font-size 2rem
    line-height 1em
    color white
    font-weight lighter
    @media screen and (max-width:920px)
      font-size 1.7rem
  &__date
    flex auto 0 0
    margin-bottom 1rem
    color white
    font-weight bold
    text-transform uppercase
  &__text
    flex auto 1 0
    font-size 0.8rem
    color white
    font-weight normal
    letter-spacing 0.036rem

.news-card_type_event
  background-color color-cold
  & .news-card__content
    position relative
    padding 1.4rem 1.5rem 1.8rem
    @media screen and (max-width: 375px)
      padding 1rem 1rem 1rem 1.4rem
  & .news-card__date
    margin-bottom 1.4rem
  & .news-card__day
    font-size 5.1rem
    letter-spacing -0.2rem
    line-height 4.1rem
    color white
    font-weight lighter
    @media screen and (max-width:920px)
      font-size 3.2rem
      line-height 1em
  & .news-card__month
    font-size 2.1rem
    color white
    text-transform capitalize
    font-weight lighter
    margin-left 0.95rem
  & .news-card__title
    font-size 0.9rem
    color white
    font-weight bold
    text-transform uppercase
    letter-spacing 0.03rem
  & .news-card__text
    min-height 2.48rem
    margin-bottom 0.8rem
    color white
    font-weight normal
  & .news-card__button
    width 87%
    font-size 0.714285714285714rem
    flex auto 0 0
    margin 0 auto

.news-card_size_compact
  & .news-card__content
    padding 1.3rem 1.3rem
  & .news-card__title
    font-size 1.2rem
  &.news-card_type_event
    & .news-card__content
        padding 1.1rem 1.2rem 0.6rem
    & .news-card__date
        margin-bottom 1rem
    & .news-card__day
        font-size 2.9rem
        line-height 2.9rem
    & .news-card__title
        font-size 0.8rem
        line-height 0.96rem
    & .news-card__text
        margin-bottom 0.6rem

.news-card_color_reverted
  background-color color-cold
  &.news-card_type_event
    background-color color-warm
