.news-card
	background-color color-warm
	border-radius 10px
	width 100%
	height @width
	display flex

.news-card__image

	background-repeat no-repeat
	background-position 0px 0px
	background-size contain
	background-clip border-box
	width 182px
	flex-shrink 0
	border-top-left-radius 10px
	border-bottom-left-radius 10px

.news-card__title
	font-size 53.96px
	margin-bottom 32px
	color white

.news-card__date
	font-size 28px
	color white
	margin-bottom 32px
	font-weight bold
	text-transform uppercase

.news-card__text
	font-size 21.2px
	overflow hidden
	color white

