@import '../../../styles/variables.styl'
@import '../../../styles/mixins.styl'

.profile-card
  display flex
  justify-content center
  align-items center

  &__photo
    display inline-block
    flex 0 0 6.648351648351648rem
    height 6.648351648351648rem
    margin-right 0.9340659340659341rem
    border-radius 50%
    border 0.3846153846153846rem solid color-bg
    background color-bg no-repeat
    background-size cover

  &__box
    position relative
    flex 1 1 11.64835164835165rem
    padding 0.7142857142857143rem
    border-radius 0.5494505494505495rem
    text-align center
    background-color color-bg
    z-index 1

    &::before
      content ''
      position absolute
      top 50%
      left 0
      width 1.098901098901099rem
      height @width
      background-color inherit
      border-radius 0.2747252747252747rem
      transform scaleY(0.8) translate(-30%,-50%) rotate(45deg)
      z-index -1

  &__name
    margin-bottom 0.1098901098901099rem
    font normal 1.285714285714286rem font-family
    color color-orange
    text-transform capitalize

  &__position
    margin 0 0 0.714285714285714rem 0
    font bold 0.7857142857142857rem font-family
    color color-text
    letter-spacing 0.0494505494505495rem
    text-transform uppercase

  &__icons
    display flex
    justify-content space-around
    align-items center
    max-width 8.791208791rem
    margin 0 auto

  &__icon
    flex 1.6rem 0 0
    height 1.9rem
    background color-bg-darker
    noselect()

    &:hover
      @media (hover: hover)
        background color-orange
    
    &:active
    &:focus
      background color-orange
  
  &__icon_for-facebook
    height 1.6rem
    mask url('../img/facebook.svg') center no-repeat
    mask-size contain

  &__icon_for-twitter
    mask url('../img/twitter.svg') center no-repeat
    mask-size contain
    flex-basis 1.9rem

  &__icon_for-dribbble
    mask url('../img/dribbble.svg') center no-repeat
    mask-size contain

  &_color_cyan
    & ^[0]__box
      background-color color-cyan

      &::before
        background-color color-cyan
        
    & ^[0]__name
      color white

    & ^[0]__position
      color white

    & ^[0]__icon
      background-color white

      &:hover
        @media (hover: hover)
          opacity 0.8
      
      &:active
      &:focus
        opacity 0.8


  