@import '../../../styles/variables.styl'
@import '../../../styles/mixins.styl'

.profile-card
  display flex
  justify-content center
  align-items center

  &__photo
    display inline-block
    flex 0 0 6.648351648351648rem
    height 6.648351648351648rem
    margin-right 0.9340659340659341rem
    border-radius 50%
    border 0.3846153846153846rem solid color-bg
    background-size cover
    background-repeat no-repeat
    background-color color-bg

    @media screen and (max-width: 425px)
      flex-basis 5.5rem
      height @flex-basis
      border 0.2rem solid color-bg

  &__box
    position relative
    flex 1 1 11.64835164835165rem
    padding 0.7142857142857143rem
    border-radius 0.5494505494505495rem
    text-align center
    background-color color-bg
    z-index 1

    @media screen and (max-width: 425px)
      flex-basis 9rem
      padding 0.5rem

    &::before
      content ''
      position absolute
      top 50%
      left 0
      width 1.098901098901099rem
      height @width
      background-color inherit
      border-radius 0.2747252747252747rem
      transform scaleY(0.8) translate(-30%,-50%) rotate(45deg)
      z-index -1

  &__name
    margin-bottom 0.1098901098901099rem
    font-size 1.285714285714286rem
    font-weight normal
    color color-orange
    text-transform capitalize

  &__position
    margin 0 0 0.714285714285714rem 0
    font-size 0.7857142857142857rem
    color #4f4f4f
    font-weight bold
    letter-spacing 0.0494505494505495rem
    text-transform uppercase

  &__icon
    display inline-block
    width 2.362637362637363em
    height 1.648351648351648em
    margin-right 0.5494505494505495rem
    font-size 1rem
    noselect()

    @media screen and (max-width: 425px)
      font-size 0.8rem

    @media screen and (max-width: 320px)
      margin-right 0

    &:last-child
      margin-right 0

  &_color_cyan
    & ^[0]__box
      background-color color-cyan

      &::before
        background-color color-cyan
        
      & *
        color white


  