@import '../../../styles/variables.styl'

.pass-info
  display flex
  flex-direction column
  height 100%
  padding 0.5rem
  text-align center

  &__header
    margin-bottom 1rem
    padding 1rem
    border-bottom 0.10989011rem solid color-orange

  &__name
    text-transform capitalize
    color color-orange
    font-weight bold
    font-size 2.5rem

  &__price
    margin-bottom 1rem
    font-weight lighter
    font-size 2rem
    color color-text

  &__text
    flex-grow 1
    margin-bottom 1rem
    font-weight lighter
    font-size 1rem
    color color-text
