extends ../../templates/layout.pug

include ../../common.blocks/navigation-bar/navigation-bar.pug
include ../../common.blocks/button-section/button-section.pug
include ../../common.blocks/arrow-section/arrow-section.pug
include ../../common.blocks/chart-section/chart-section.pug
include ../../common.blocks/slider-section/slider-section.pug
include ../../common.blocks/stages-section/stages-section.pug
include ../../common.blocks/form-section/form-section.pug
include ../../common.blocks/search-section/search-section.pug
include ../../common.blocks/profile-section/profile-section.pug
include ../../common.blocks/news-section/news-section.pug
include ../../common.blocks/map-section/map-section.pug
include ../../common.blocks/calendar-section/calendar-section.pug
include ../../common.blocks/message-section/message-section.pug
include ../../common.blocks/video-section/video-section.pug

block title
  title UI Demo Kit

block content
  -
    const data = require('../../assets/data/data.json');
    const { navigation } = data;
  .uidemo
    .uidemo__navigation-bar
      +navigationBar(navigation)
    main.uidemo__main
      section.uidemo__button-section
        +buttonSection()
      section.uidemo__arrow-section
        +arrowSection()
      section.uidemo__chart-section
        +chartSection()
      section.uidemo__slider-section
        +sliderSection()
      section.uidemo__stages-section
        +stagesSection()
      section.uidemo__form-section
        +formSection()
      section.uidemo__search-section
        +searchSection()
      section.uidemo__profile-section
        +profileSection()
      section.uidemo__news-section
        +newsSection()
      section.uidemo__map-section
        +mapSection()
      section.uidemo__calendar-section
        +calendarSection()
      section.uidemo__message-section
        +messageSection()
      section.uidemo__video-section
        +videoSection()
  

  