//- uidemo.pug
extends ../../pug/layout.pug

block title
  title UI Demo Kit

block content
  main.uidemo
    section.uidemo__button-section
      +buttonSection()
    section.uidemo__arrow-section
      +arrowSection()
    section.uidemo__chart-section
      +chartSection()
    section.uidemo__slider-section
      +sliderSection()
    section.uidemo__stages-section
      +stagesSection()
    section.uidemo__form-section
      +formSection()
    section.uidemo__search-section
      +searchSection()
    section.uidemo__profile-section
      +profileSection()
    section.uidemo__news-section
      +newsSection()
    section.uidemo__map-section
      +mapSection()
    section.uidemo__calendar-section
      +calendarSection()
    section.uidemo__message-section
      +messageSection()
    section.uidemo__video-section
      +videoSection()

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0GpB2Y8XOyVrs-stxlE0I4yR_rAaEyjU")
  

  