include ../button/button.pug
include ../validation-input/validation-input.pug

mixin emailForm(settings = {})
  -
    const {
      bubbleText,
      namePlaceholder = 'Your Name',
      emailPlaceholder = 'Your Email',
      textPlaceholder = 'Your Message',
      buttonTitle = 'submit',
    } = settings;
  form.email-form.js-email-form
    .email-form__input.email-form__input_type_name
      +validationInput({
        type: 'text',
        name: 'name',
        placeholder: namePlaceholder,
        bubbleText,
      })
    .email-form__input.email-form__input_type_email
      +validationInput({
        type: 'email',
        name: 'email',
        placeholder: emailPlaceholder,
        bubbleText,
      })
    textarea.email-form__message(
      name="message"
      placeholder=textPlaceholder
    )
    .email-form__button.js-email-form__button
      +button({ title: buttonTitle, color: 'reverse' })