@import '../../../styles/variables.styl'

setSliceColorByIndex(num)
  pie-colors = (color-bg-darker color-orange color-cyan)
  divider = length(pie-colors)
  index = (num - 2)*1 % divider
  opacityRatio = (num - 2 - index) / divider
  opacity = 1 - 0.2 * opacityRatio
  if (opacity > 0)
    return rgba(pie-colors[index], opacity)
