.donut-chart
	position relative
	& circle
		stroke-width 7px
	&_size_narrow circle
		stroke-width 2px
	&__label
		display block
		position absolute
		color darken(color-bg, 49)
		font-size (52px/initial-font-size)rem
		font-weight lighter
		top 46%
		left 50%
		transform translate(-50%, -50%)

