include ../messenger/messenger.pug

mixin onlineHelp(settings = {})
  - const { buttonText = 'Chat Widget' } = settings;
  .online-help.js-online-help
    .online-help__messenger.js-online-help__messenger
      +messenger({ 
        name: 'Sarah Brown',
        image: 'sarah-brown.jpg',
        inbox: 'Hi! How can I help you?'
      })
    button.online-help__button.js-online-help__button(aria-label=buttonText)