mixin onlineHelp()
	aside.online-help
		.online-help__messenger
			+messenger({name: "Sarah Brown", image: "sarah-brown.jpg", inbox: "Hi! How can I help you?"}, true)
		button.online-help__button(aria-label="Chat Widget")