mixin footerSection()
	footer.footer-section
		section.footer-section__contacts
			h3.footer-section__header Contact Us
			ul.footer-section__list
				li.footer-section__list-item E-mail:
					a(href="mailto:info@nonexistingwt.org") info@nonexistingwt.org
				li.footer-section__list-item Twitter:
					a(href="./sorry_this_link_is_dead" title="twitter") @nonexistingwebtalks
				li.footer-section__list-item Phone: +7 3822 000 000
		section.footer-section__links
			h3.footer-section__header More from Web Talks
			ul.footer-section__list
				li.footer-section__list-item
					a(href="./sorry_this_link_is_dead" title="news and articles") News and articles
				li.footer-section__list-item
					a(href="./sorry_this_link_is_dead" title="newsleter") Newsletter
				li.footer-section__list-item
					a(href="./sorry_this_link_is_dead" title="terms and conditions") Terms and conditions
				li.footer-section__list-item
					a(href="./sorry_this_link_is_dead" title="privacy policy") Privacy policy
		p.footer-section__copyright © 2018-2019 Web Talks. All rights reserved.
