include ../footer-link-list/footer-link-list.pug

mixin footerSection(footerData = {})
  -
    const {
      contacts = [],
      docs = [],
      copyright = '© Web Talks. All rights reserved.'
    } = footerData;
  footer.footer-section
    .footer-section__contacts
      +footer-link-list({
        title: 'Contact Us',
        data: contacts,
        type: 'titled',
      })
    .footer-section__docs
      +footer-link-list({
        title: 'More from Web Talks',
        data: docs,
      })
    p.footer-section__copyright= copyright
