.chart-section
	&__header
		margin-bottom 1.7rem
		letter-spacing 0.06rem

	&__container
		display flex
		justify-content space-between
		flex-wrap wrap
		flex-direction row
		@media screen and (max-width: screen-md2)
			justify-content space-around

	&__chart
		width 125px
		height @width
		flex-shrink 0
		margin-bottom 1.5rem
		margin-right 1rem
		&:nth-child(1)
			@media screen and (min-width: screen-md2)
				margin-right percentage(18px/790px)
		&:nth-child(2)
			@media screen and (min-width: screen-md2)
				margin-right percentage(49px/790px)
		&:nth-child(3)
			@media screen and (min-width: screen-md2)
				margin-right percentage(44px/790px)
		&:nth-child(4)
			@media screen and (min-width: screen-md2)
				margin-right percentage(38px/790px)
		&:nth-child(5)
			@media screen and (min-width: screen-md2)
				margin-right percentage(15px/790px)
	