@import '../../../styles/variables.styl'

.event-carousel
  display -webkit-box
  display flex
  justify-content left
  align-items center
  background-color #c6c6c6
  flex-wrap wrap

  &__top
    width 100%
    padding 0.5rem 1rem 0
    text-align right

  &__link
    text-align right
    flex-shrink 0
    color color-orange
    text-decoration underline

    &:hover
      @media (hover:hover)
        text-decoration none

    &:active
      @media (hover:hover)
        text-decoration underline

      @media (hover:none)
        text-decoration none

  &__cards
    width 100%
    padding 0.549450549rem 0.549450549rem 0 0.549450549rem
    font-size 1rem

  &__card-wrapper
    display flex
    align-items stretch
    justify-content space-between

  &__card
    width 20rem
    overflow hidden
    margin-right 0.8rem
    font-size 1.2rem

    &:last-child
      margin-right 0

  &__calendar-overlay
    display none
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(10,10,10,.3)
    z-index 100001
    overflow hidden

  &__calendar-overlay_visible
    display block
    
  &__calendar
    position fixed
    bottom 10%
    right 5%
    width 16.48351648rem
    font-size 0.7rem
    box-shadow 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12)
		transition transform .25s ease, opacity .25s ease
  