@import '../../../styles/variables.styl'
@import '../../../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css'

.event-carousel
  display -webkit-box
  display flex
  flex-flow row wrap
  justify-content left
  align-items center
  background-color #c6c6c6

  &__top
    width 100%
    padding 0.5rem 1rem 0
    text-align right

  &__link
    text-align right
    flex-shrink 0
    color color-orange
    text-decoration underline

    &:hover
      @media (hover:hover)
        text-decoration none

    &:active
      @media (hover:hover)
        text-decoration underline

      @media (hover:none)
        text-decoration none

  &__cards
    width 100%
    padding 0.549450549rem 0.549450549rem 0 0.549450549rem
    font-size 1rem

  &__card-wrapper
    display flex
    align-items stretch
    justify-content space-between
    overflow-x auto

  &__card
    width 20rem
    flex-shrink 0
    overflow hidden
    margin-right 0.8rem
    font-size 1.2rem

    &:last-child
      margin-right 0

  &__calendar-overlay
    display none
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(10,10,10,.3)
    z-index 100000
    overflow hidden

  &__calendar-overlay_visible
    display block
    
  &__calendar
    position fixed
    top 30%
    right 5%
    width 20rem
    font-size 0.7rem
    box-shadow 0 0.6rem 0.8rem -0.4rem rgba(0, 0, 0, 0.2), 0 1.3rem 2rem 0.16rem rgba(0, 0, 0, 0.14), 0 0.5rem 2.5rem 0.4rem rgba(0, 0, 0, 0.12)
    transition transform .25s ease, opacity .25s ease
    z-index 100001
  
  & .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    background-color rgba(0,0,0,0.3)

	& .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
    background-color rgba(0,0,0,0.5)

	& .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
  & .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
    background-color: rgba(0,0,0,0.7)