.event-carousel
	display -webkit-box
	display flex
	justify-content left
	align-items center
	background-color #c6c6c6
	&__cards
		flex-grow 1
		flex-shrink 1
		width 1000px
		height 380px
		padding 10px 10px 0 10px
	&__card
		width 430px
		vertical-align top
		height 350px
		display inline-block
		overflow hidden
		margin-right 0.8rem
		&:last-child
			margin-right 0
		&_visible
			display inline-block
	