.button_color_invert
	color #bf3e1f
	background-color white
	border-color #bf3e1f
	box-shadow 0 5px 0 0 #bf3e1f

.button_color_invert:hover, .button_color_invert:active
	background-color #e75735
	border-color #e75735