@import '../common.blocks/button/styl/jquery.materialripple.css'

.button
	cursor pointer
	display inline-block
	text-transform uppercase
	transition all .3s
	overflow hidden
	text-align center
	padding (12px/initial-font-size)rem
	font-size (15.6px/initial-font-size)rem
	letter-spacing 0.035rem
	font-weight bold
	color color-cold-darker
	background-color white
	width 153px
	border-radius (5px/initial-font-size)rem
	box-shadow inset 0 0 0 1px color-cold-darker, 0 4px 0 0 color-cold-darker
	&:hover
	&:focus
		color white
		background-color color-cold
		box-shadow 0 4px 0 0 color-cold

	&_size_small
		font-size (13px/initial-font-size)rem
		width 102px
		padding (6px/initial-font-size)rem

	&_color_secondary
		color color-warm-darker
		background-color white
		border-color color-warm-darker
		box-shadow inset 0 0 0 1px color-warm-darker, 0 4px 0 0 color-warm-darker
		&:hover
			color white
			background-color color-warm
			box-shadow 0 4px 0 0 color-warm

	&_color_reverse
		color white
		background-color color-cold
		box-shadow 0 4px 0 0 color-cold
		&:hover
		&:focus
			color color-cold
			background-color white
			box-shadow inset 0 0 0 1px color-cold, 0 4px 0 0 color-cold