@import '../common.blocks/button/styl/jquery.materialripple.css'

.button
	cursor pointer
	display inline-block
	text-transform uppercase
	transition all .3s
	overflow hidden
	text-align center
	padding 23.12px
	font-size 23.12px
	font-weight bold
	color #28a290
	background-color white
	width 227px
	border 2px solid #28a290
	border-radius 5px
	box-shadow 0 5px 0 0 #28a290

.button:hover, 
	color white
	background-color #4eb7a8
	border-color #4eb7a8

.button:active
	box-shadow none

@import 'button_size_small.styl'
@import 'button_color_invert.styl'