.button_color_reverse
	color white
	background-color #4eb7a8
	box-shadow 0 5px 0 0 #28a290
	&:hover
	&:focus
		color #28a290
		background-color white
		box-shadow inset 0 0 0 2px #28a290, 0 5px 0 0 #28a290