.button_color_invert
	color #bf3e1f
	background-color white
	border-color #bf3e1f
	box-shadow inset 0 0 0 2px #bf3e1f, 0 5px 0 0 #bf3e1f
	&:hover
		color white
		background-color #e75735
		box-shadow 0 5px 0 0 #bf3e1f