@import 'variables.styl'

clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

sectionTitle()
  text-transform uppercase
  font bold 1.285714285714286rem/1 font-family
  text-align center
  color color-text
  letter-spacing 0.095rem

pageTitle()
  text-transform uppercase
  font bold 2rem font-family
  text-align center
  color color-text
  letter-spacing 0.095rem

inputField()
  padding 0.3846153846153846rem 0.989010989010989rem
  font normal 1rem ui-font-family
  color darken(color-bg, 40.5)
  background color-bg
  border none
  border-radius 0.1648351648351648rem

remify(value) {
  u = unit(value);
  if (u is 'px') {
    return unit(value/18.2, 'rem');
  } else {
    return unit(value, u);
  }
}

noselect()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none 
  -moz-user-select none
  -ms-user-select none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-tap-highlight-color transparent
  user-select none