@import 'variable.styl'

clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

sectionTitle()
  text-transform uppercase
  font-size 1.285714285714286rem
  font-weight bold
  text-align center
  color inherit
  letter-spacing 0.095rem

pageTitle()
  text-transform uppercase
  font-size 2rem
  font-weight bold
  text-align center
  color inherit
  letter-spacing 0.095rem

inputField()
  padding 0.3846153846153846rem 0.989010989010989rem
  font-family ui-font-family
  font-size 1rem
  color darken(color-bg, 40.5)
  background color-bg
  border none
  border-radius 0.1648351648351648rem

remify(value) {
  u = unit(value);
  template-font-size = 18.2px
  if (u is 'px') {
    return unit(value/template-font-size, 'rem');
  } else {
    return unit(value, u);
  }
}

noselect()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none 
  -moz-user-select none
  -ms-user-select none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-tap-highlight-color transparent
  user-select none