//colors

color-cyan = #4eb7a8
color-cyan-darker = #28a290
color-orange = #e75735
color-orange-darker = #bf3e1f
color-bg = #e5e5e5
color-text = #4f4f4f
color-text-darker = #747474
color-outline = #4d90fe

// fonts
font-family= 'Lato', Arial, sans-serif
ui-font-family = 'SourceSansPro', Arial, sans-serif