mixin searchBox(isFilled)
  - const filledModifiers = { filled: 'search-box_filled' };
  - let className = 'search-box js-search-box';
  - if (isEmptyResult) className += ` ${filledModifiers.filled}`;
  div(class = className)
    label.search-box__label
      input.search-box__input.js-search-box__input(type="text" placeholder="Search")
    button.search-box__button.js-search-box__button(type="button")
