mixin searchBox(isEmptyResult)
  - let className = 'search-box js-search-box';
  - if (isEmptyResult) className = `${className} search-box_filled`;
  div(class = className)
    label.search-box__label
      input.search-box__input.js-search-box__input(type="text" placeholder="Search")
    button.search-box__button.js-search-box__button(type="button")
