mixin searchBox(settings = {})
  -
    const { filled = false } = settings;
    const filledModifiers = { filled: 'search-box_filled' };
    let className = 'search-box js-search-box';
    let text = '';
    if (filled) {
     className += ` ${filledModifiers.filled}`;
     text = 'I\'ve not found what I\'m looking for...';
    }
  div(class = className)
    label.search-box__label
      input.search-box__input.js-search-box__input(type="text" placeholder="Search" value=text)
    button.search-box__button.js-search-box__button(type="button")
