include ../button/button.pug

mixin buttonSection(content)
	.button-section
		h1.section-title.button-section__header standard buttons
		.button-section__container
			.button-section__column
				.button-section__button.button-section__button_size_small
					+button({title: "button", size: "small"})
				.button-section__button.button-section__button_size_small
					+button({title: "button", size: "small"})
				.button-section__button.button-section__button_size_small
					+button({title: "button", size: "small"})
				.button-section__button
					+button({title: "button"})
				.button-section__button
					+button({title: "button"})
				.button-section__button
					+button({title: "button"})
			.button-section__column
				.button-section__button
					+button({title: "button", color:"secondary"})
				.button-section__button
					+button({title: "button", color:"secondary"})
				.button-section__button
					+button({title: "button", color:"secondary"})
				.button-section__button.button-section__button_size_small
					+button({title: "button", color:"secondary", size: "small"})
				.button-section__button.button-section__button_size_small
					+button({title: "button", color:"secondary", size: "small"})
				.button-section__button.button-section__button_size_small
					+button({title: "button", color:"secondary", size: "small"})