mixin buttonSection()
  section.button-section
    h2.button-section__title standard buttons
    .button-section__container
      .button-section__column
        .button-section__button.button-section__button_size_small
          +button({ title: 'button', size: 'small' })
        .button-section__button.button-section__button_size_small
          +button({ title: 'button', size: 'small' })
        .button-section__button.button-section__button_size_small
          +button({ title: 'button', size: 'small' })
        .button-section__button
          +button({ title: 'button' })
        .button-section__button
          +button({ title: 'button' })
        .button-section__button
          +button({ title: 'button' })
      .button-section__column
        .button-section__button
          +button({ title: 'button', color: 'warm' })
        .button-section__button
          +button({ title: 'button', color: 'warm' })
        .button-section__button
          +button({ title: 'button', color: 'warm' })
        .button-section__button.button-section__button_size_small
          +button({ title: 'button', color: 'warm', size: 'small'})
        .button-section__button.button-section__button_size_small
          +button({ title: 'button', color: 'warm', size: 'small'})
        .button-section__button.button-section__button_size_small
          +button({ title: 'button', color: 'warm', size: 'small'})