include ../button/button.pug

mixin buttonSection(sectionData)
  - const { title, elements } = sectionData;
  section.button-section
    h2.button-section__title= title
    .button-section__container
      each item in elements
        .button-section__column
          - const smallItem = Object.assign({ size: 'small' }, item);
          - for (let i = 0; i < 3; i++)
            .button-section__button.button-section__button_size_small
              +button(smallItem)
          - for (let i = 0; i < 3; i++)
            .button-section__button
              +button(item)
          