include ../button/button.pug

mixin buttonSection(content)
	.button-section
		h1.button-section__header standard buttons
		.button-section__container
			.button-section__button
				+button('button')(class = 'button_size_small')
			.button-section__button
				+button('button')
			.button-section__button
				+button('button')(class = 'button_color_secondary')
			.button-section__button
				+button('button')(class = 'button_color_secondary button_size_small')
			.button-section__button
				+button('button')(class = 'button_size_small')
			.button-section__button
				+button('button')
			.button-section__button
				+button('button')(class = 'button_color_secondary')
			.button-section__button
				+button('button')(class = 'button_color_secondary button_size_small')
			.button-section__button
				+button('button')(class = 'button_size_small')
			.button-section__button
				+button('button')
			.button-section__button
				+button('button')(class = 'button_color_secondary')
			.button-section__button
				+button('button')(class = 'button_color_secondary button_size_small')