include ../button/button.pug

mixin bannerSection(bannerData)
  -
    const { title, tagline, location, button } = bannerData;
    const { title: buttonTitle, link: buttonLink} = button;
  header.banner-section
    p.banner-section__location= location
    h1.banner-section__title= title
    p.banner-section__tagline= tagline
    .banner-section__register-button
      +button({
        title: buttonTitle,
        link: buttonLink,
      })