include ../button/button.pug

mixin bannerSection()
  header.banner-section
    p.banner-section__location Tomsk / December 2019
    h1.banner-section__title Web Talks
    p.banner-section__tagline Three big tracks–Product, Design, and Developer focused, plus stellar keynotes and much more
    .banner-section__register-button
      +button({
        title: 'pre-register for 2019',
        link: 'registration.html',
      })