extends ../../templates/layout.pug

include ../../common.blocks/bread-crumbs/bread-crumbs.pug
include ../../common.blocks/registration-form/registration-form.pug
include ../../common.blocks/footer-section/footer-section.pug

block title
  title Register

block content
  .registration.js-registration
    main.registration__main
      .registration__form
        +registrationForm()
    footer.registration__footer
      +footerSection()
  