@import '../../styles/mixins.styl'

.registration
  display flex
  flex-flow column nowrap
  min-height 100%

  &__main
    flex 1 0 auto
    width 95%
    max-width 54.94505495rem
    margin 0 auto 2rem

  &__form
    margin-top 13.18681319rem
    
  &__footer
    flex 0 0 auto