//- registration.pug
extends ../../pug/layout.pug

block title
  title Register

block content
  .registration.js-registration
    main.registration__main
      header.registration__header
        h1.registration__title Join us at Web Talks 2019
        .registration__bread-crumbs
          +breadCrumbs({ active: 1, max: 3 })
      .registration__form
        +registrationForm()
    footer.registration__footer
      +footerSection()
  