mixin button(settings)
  - let className = 'button js-button';
	- const buttonModifiers = {
	-	  small: 'button_size_small',
	-	  responsive: 'button_size_resopnsive',
	-	  reverted: 'button_color_reverted',
	-	  warm: 'button_color_warm',
	- };
	- for (key in settings) {
	-	  if (key in buttonModifiers) {
	-		  className += ` ${buttonModifiers[key]}`;
	-	  }
	- }
  - const { title: titleAttr = 'button', link: hrefAttr = false, isExternal = false } = settings;
  - const targetAttr = !!isExternal ? '_blank' : false;
  - const relAttr = !!isExternal ? 'noopener noreferrer' : false;
  a(class=className title=titleAttr tabindex="0" href=hrefAttr target=targetAttr rel=relAttr)= titleAttr

+button({
  small: true,
  reverted: true,
  link: 'https://github.com/imin314/CV_project/issues',
  isExternal: true
})

