mixin button(settings)
  //- parameters: 
  //- size: small, responsive (or both separated by whitespace)
  //- color: reverted, warm
  //- link attribute might be empty
  //- isExternal: if true, adds target="_blank" and rel="noopener noreferrer"
  - let className = 'button js-button';
  - if (settings.size) {
  -   settings.size.split(' ').forEach((value) => {
  -     className += ` button_size_${value}`;
  -   });
  - }
  - if (settings.color) {
  -   className += ` button_color_${settings.color}`;
  - }
  - const titleAttr = settings.title ? settings.title : 'button';
  - const hrefAttr = settings.link ? settings.link : false;
  - const targetAttr = settings.isExternal ? '_blank' : false;
  - const relAttr = settings.isExternal ? 'noopener noreferrer' : false;
  a(class=className title=titleAttr tabindex="0" href=hrefAttr target=targetAttr rel=relAttr)= titleAttr