mixin button(settings = {})
  -
    const {
      color,
      size = '',
      title = 'button',
      link = false,
      isExternal = false,
      tag = 'button',
      type = false,
      name = false,
     } = settings;
    const target = !!isExternal ? '_blank' : false;
    const rel = !!isExternal ? 'noopener noreferrer' : false;

    const sizeModifiers = {
      small: 'button_size_small',
      responsive: 'button_size_responsive',
    };
    const colorModifiers = {
      reverse: 'button_color_reverse',
      orange: 'button_color_orange',
    };

    let className = 'button js-button';

    if (color in colorModifiers) {
      className += ` ${colorModifiers[color]}`;
    }

    size.split(' ').forEach((key) => {
      if (key in sizeModifiers) className += ` ${sizeModifiers[key]}`;
    });
  #{tag}(
    class = className
    title = title
    tabindex = "0"
    href = link
    target = target
    rel = rel
    name = name
    type = type)= title