mixin button(_settings)
	//- parameters: size: small, responsive (or both separated by whitespace)
	//- color: reverted, warm
	//- link attribute might be empty
	- var className = "button";
	- if (_settings.size!=undefined) {
	- for (let value of _settings.size.split(" ")) {
	- className+= " button_size_"+value;
	- }}
	- if (_settings.color!=undefined) className+= " button_color_"+_settings.color;
	- var linkAttr = _settings.link!=undefined?"href="+_settings.link:"";
	a.noselect.ripple(class=className title=_settings.title!=undefined?_settings.title:"button" linkAttr)= _settings.title!=undefined?_settings.title:"button"