.map-section__header
	text-transform uppercase
	font-size 34.69px
	color color-text
	font-weight bold
	text-align center
	margin-bottom 57px

.map-section__container
	width 100%
	position relative

.map-section__map
	width 100%
	height 400px

.map-section__footer
	padding 40px 60px
	background-color color-warm
	border-bottom-left-radius 10px
	border-bottom-right-radius 10px
	clearfix()


.map-section__title
	color white
	float left
	font-size 58px

.map-section__address
	float left
	& div
		color white
		text-transform uppercase
		font-size 24.09px
		font-weight bold

.map-section__icons
	float right

.map-section__search
	display inline-block
	width 30px
	height @width 
	border-radius 50%
	border 3px solid white
	position relative
	&::before
		content ''
		box-sizing content-box
		height 3px
		width 10px
		position absolute
		border-left 16px solid white
		border-right 16px solid white
		top 10px
		left -10px
	&::after
		content ''
		box-sizing content-box
		height 10px
		width 3px
		position absolute
		border-top 16px solid white
		border-bottom 16px solid white
		top -10px
		left 10px

.map-section__pin
	display inline-block
	width 32px
	height 44px

.map-section__main-pin
	width 76px
	height 107px
	position absolute
	top 50%
	left 50%
	filter drop-shadow(2em 1em 1em rgba(0,0,0,0.25))
