include ../donut-chart/donut-chart.pug

mixin infogram()
  ul.infogram
    li.infogram__stat-item
      .infogram__comment
        | Three tracks covering actual topics of 
        span.infogram__topic.infogram__topic_color_gray Development
        | , 
        span.infogram__topic.infogram__topic_color_orange Design
        | , and 
        span.infogram__topic.infogram__topic_color_cyan Management 
        | with total of 18 intense workshops and talks.
      .infogram__chart
        +donutChart({ values: '61, 22, 17', type: 'pie' })
    li.infogram__stat-item
      .infogram__number 600+
      .infogram__comment Passionate attendees
    li.infogram__stat-item
      .infogram__number 7
      .infogram__comment Intense Days 