include ../common.blocks/loader/loader.pug
include ../common.blocks/pin/pin.pug
include ../common.blocks/social-icon/social-icon.pug
include ../common.blocks/arrow-button/arrow-button.pug
include ../common.blocks/bread-crumbs/bread-crumbs.pug
include ../common.blocks/button/button.pug
include ../common.blocks/calendar/calendar.pug
include ../common.blocks/donut-chart/donut-chart.pug
include ../common.blocks/drop-down/drop-down.pug
include ../common.blocks/icon-dribbble/icon-dribbble.pug
include ../common.blocks/icon-twitter/icon-twitter.pug
include ../common.blocks/input-field/input-field.pug
include ../common.blocks/video/video.pug
include ../common.blocks/search-box/search-box.pug
include ../common.blocks/slider/slider.pug
include ../common.blocks/tick-box/tick-box.pug
include ../common.blocks/toggle-switch/toggle-switch.pug
include ../common.blocks/map/map.pug
include ../common.blocks/messenger/messenger.pug
include ../common.blocks/news-card/news-card.pug
include ../common.blocks/speaker-card/speaker-card.pug
include ../common.blocks/user-card/user-card.pug
include ../common.blocks/about-section/about-section.pug
include ../common.blocks/arrow-section/arrow-section.pug
include ../common.blocks/banner-section/banner-section.pug
include ../common.blocks/button-section/button-section.pug
include ../common.blocks/calendar-section/calendar-section.pug
include ../common.blocks/chart-section/chart-section.pug
include ../common.blocks/email-form/email-form.pug
include ../common.blocks/event-carousel/event-carousel.pug
include ../common.blocks/footer-section/footer-section.pug
include ../common.blocks/form-section/form-section.pug
include ../common.blocks/map-section/map-section.pug
include ../common.blocks/message-section/message-section.pug
include ../common.blocks/navigation-bar/navigation-bar.pug
include ../common.blocks/news-section/news-section.pug
include ../common.blocks/online-help/online-help.pug
include ../common.blocks/pass-selector/pass-selector.pug
include ../common.blocks/profile-section/profile-section.pug
include ../common.blocks/registration-form/registration-form.pug
include ../common.blocks/search-section/search-section.pug
include ../common.blocks/slider-section/slider-section.pug
include ../common.blocks/stages-section/stages-section.pug
include ../common.blocks/talks-section/talks-section.pug
include ../common.blocks/video-section/video-section.pug