extends ../../templates/layout.pug

include ../../common.blocks/banner-section/banner-section.pug
include ../../common.blocks/about-section/about-section.pug
include ../../common.blocks/event-carousel/event-carousel.pug
include ../../common.blocks/footer-section/footer-section.pug

block content
  -
    const data = require('../../assets/data/data.json');
    const { talks, footer } = data;
  .index
    main.index__main
      .index__banner
        +bannerSection()
      .index__about
        +aboutSection()
      .index__events
        +eventCarousel(talks)
    footer.index__footer
      +footerSection(footer)