extends ../../templates/layout.pug

include ../../common.blocks/banner-section/banner-section.pug
include ../../common.blocks/about-section/about-section.pug
include ../../common.blocks/event-carousel/event-carousel.pug
include ../../common.blocks/footer-section/footer-section.pug
include ../../common.blocks/navigation-bar/navigation-bar.pug

block content
  -
    const data = require('../../assets/data/data.json');
    const { navigation, about, banner, talks, footer } = data;
  .index
    .index__navigation-bar
      +navigationBar(navigation)
    main.index__main
      .index__banner
        +bannerSection(banner)
      .index__about
        +aboutSection(about)
      .index__events
        +eventCarousel({ talksData: talks })
    .index__footer
      +footerSection(footer)