//- index.pug
extends ../../pug/layout.pug

block content
  - const data = require('../../assets/data/data.json');
  - const { talks } = data;
  .index
    main.index__main
      .index__banner
        +bannerSection()
      .index__about
        +aboutSection()
      .index__events
        +eventCarousel(talks)
    footer.index__footer
      +footerSection()