//- index.pug
extends ../../pug/layout.pug

block content
  - const data = require('../../assets/data/data.json');
  .main-page
    main.main-page__main
      .main-page__banner
        +bannerSection()
      .main-page__about
        +aboutSection()
      .main-page__events
        +eventCarousel(data.talks)
    footer.main-page__footer
      +footerSection()