//- index.pug
extends ../../pug/layout.pug

block content
  - const data = require('../../assets/data/data.json');
  .index
    main.index__main
      .index__banner
        +bannerSection()
      .index__about
        +aboutSection()
      .index__events
        +eventCarousel(data.talks)
    footer.index__footer
      +footerSection()