@import '../../styles/variables.styl'

.index
  display flex
  flex-flow column nowrap
  min-height 100%
  background-color color-bg

  &__main
    flex 1 0 auto
    width 100%
    max-width 110rem
    margin 0 auto
    box-shadow 0 0 5.5rem 0px rgba(0,0,0,0.4)
    
  &__footer
    flex 0 0 auto