mixin toggleSwitch(isChecked)
	label.toggle-switch
		- if (isChecked)
			input.toggle-switch__checkbox(type="checkbox" checked)
		- else
			input.toggle-switch__checkbox(type="checkbox")
		span.toggle-switch__slider
		.toggle-switch__text