mixin toggleSwitch(settings)
  - const options = settings || {};
  - const { checked: checkedAttr = false } = options; 
  .toggle-switch.js-toggle-switch
    label.toggle-switch__label
      input.toggle-switch__checkbox.js-toggle-switch__checkbox(
        type="checkbox"
        checked=checkedAttr
      )
      .toggle-switch__slider.js-toggle-switch__slider(tabindex="0")