mixin toggleSwitch(isChecked)
	label.toggle-switch.noselect
		- if (isChecked)
			input.toggle-switch__checkbox(type="checkbox" checked)
		- else
			input.toggle-switch__checkbox(type="checkbox")
		span.toggle-switch__slider.noselect
		.toggle-switch__text