@import '../../../styles/variables.styl'
@import '../../../styles/mixins.styl'

.search-box
  display flex
  flex-direction row
  flex-wrap nowrap
  background-color color-bg
  border-radius 0.164835165rem
  overflow hidden

  &_filled
    background-color color-orange

    & ^[0]__input
      color white

  &__label
    flex-grow 1

  &__input
    width 100%
    padding 0.32967033rem 0.934065934rem 0.384615385rem
    font-size 1rem
    font-family ui-font-family
    letter-spacing 0.01rem
    color darken(color-bg, 40.5)
    background inherit
    border none
    -webkit-appearance none

  &__button
    flex 2.362637363rem 0 0
    position relative
    border none
    background-color color-orange
    cursor pointer
    -webkit-appearance none
    outline none

    &:focus
      background-color darken(color-orange, 10)

    &::before
      content ''
      display block
      position absolute
      top 50%
      left 50%
      width 0.75rem
      height @width
      border 0.10989011rem white solid
      border-radius 50%
      transform translate(-65%, -60%)

    &::after
      content ''
      position absolute
      top 62%
      left 50%
      display block
      height 0.164835165rem
      width 0.55rem
      background-color white
      border-radius 0.10989011rem
      transform rotate(45deg)

    &:hover
      @media (hover:hover)
        background-color darken(color-orange, 10)

    &:active
      @media (hover:none)
        background-color darken(color-orange, 10)

    &:active::before
      @media (hover:hover)
        transform translate(-65%, -60%) rotate(45deg) scale(0.9)
        
    &:active::after
      @media (hover:hover)
        transform rotate(45deg) scale(0.9)

    
