.search-box__button
	border none
	background-color color-warm
	border-top-right-radius 6px
	border-bottom-right-radius 6px
	cursor pointer
	-webkit-appearance none
	font-size 26.98px
	padding 11px 22px
	vertical-align top

.search-box__icon
	font-size 26.98px
	color white