.search-box
  display flex
  flex-direction row
  flex-wrap nowrap
  background-color color-bg
  border-radius 3px
  overflow hidden

  &_filled
    background-color color-warm

    & ^[0]__input
      color white

  &__label
    flex-grow 1

  &__input
    width 100%
    padding remify(6px) remify(17px) remify(7px)
    font-size 1rem
    font-family ui-font-family
    letter-spacing remify(0.2px)
    color darken(color-bg, 40.5)
    background inherit
    border none
    -webkit-appearance none

  &__button
    flex 43px 0 0
    position relative
    border none
    background-color color-warm
    cursor pointer
    -webkit-appearance none
    outline none

    &:focus
      background-color darken(color-warm, 10)

    &::before
      content ''
      display block
      position absolute
      top 50%
      left 50%
      width 0.75rem
      height @width
      border remify(2px) white solid
      border-radius 50%
      transform translate(-65%, -60%)

    &::after
      content ''
      position absolute
      top 62%
      left 50%
      display block
      height remify(3px)
      width 0.55rem
      background-color white
      border-radius 2px
      transform rotate(45deg)

    &:hover
      @media (hover:hover)
        background-color darken(color-warm, 10)

    &:active
      @media (hover:none)
        background-color darken(color-warm, 10)

    &:active::before
      @media (hover:hover)
        transform translate(-65%, -60%) rotate(45deg) scale(0.9)
        
    &:active::after
      @media (hover:hover)
        transform rotate(45deg) scale(0.9)

    
