include ../slider/slider.pug

mixin sliderSection()
	.slider-section
		h1.slider-section__header.section-title sliders
		.slider-section__container
			.slider-section__slider
				+slider(true)
			.slider-section__slider
				+slider(false)