mixin sliderSection()
  section.slider-section
    h2.slider-section__title sliders
    .slider-section__container
      .slider-section__slider
        +slider({ withTooltip: true })
      .slider-section__slider
        +slider({ withScale: true })