include ../slider/slider.pug

mixin sliderSection(settings = {})
  - const { title = 'sliders' } = settings;
  section.slider-section
    h2.slider-section__title= title
    .slider-section__container
      .slider-section__slider
        +slider({ withTip: true, min: 0, max: 100, step: 1, value: 40 })
      .slider-section__slider
        +slider({ withScale: true, color: 'cyan', min: 0, max: 100, step: 25, value: 75 })