@import '../../styles/mixins.styl'

.slider-section
  &__title
    sectionTitle()
    margin-bottom 3.3rem
    
  &__container
    display flex
    justify-content space-between
    flex-flow row wrap

  &__slider
    flex 12.36263736rem 1 0
    margin-bottom 2.5rem
    max-width 38.46153846rem
    min-width 12.36263736rem

    &:first-child
      @media screen and (min-width: 701px)
        margin-right 10%
    
    @media screen and (max-width: 700px)
      margin 0 5% 2.5rem