@import 'bread-crumbs__item.styl'
@import 'bread-crumbs__item_active.styl'
@import 'bread-crumbs__line.styl'

.bread-crumbs
	display flex
	justify-content space-between
	flex-wrap nowrap
	flex-direction row
	width 100%
	padding 0
	align-items center