.slider-section
	&__header
		margin-bottom 3.3rem

	&__container
		display flex
		justify-content space-between
		flex-direction row
		flex-wrap wrap
		@media screen and (max-width: screen-md2)
			justify-content center

	&__slider
		flex-basis 346px
		margin-bottom 2.5rem
		@media screen and (max-width: screen-md2)
			flex 500px 1 1