include ../video/video.pug

mixin videoSection(settings = {})
  - const { title = 'video' } = settings;
  section.video-section
    .video-section__title= title
    .video-section__video
      +video({ source: "https://player.vimeo.com/video/62980495" })