//- contacts.pug
extends ../layout.pug

block content
	include ../common.blocks/navigation-bar/navigation-bar.pug
	include ../common.blocks/footer-section/footer-section.pug
	include ../common.blocks/email-form/email-form.pug
	include ../common.blocks/map-section/map-section.pug
	.contacts-page
		h1.contacts-page__header.page-title Contact Us
		.contacts-page__navigation
			+navigationBar()
		.contacts-page__form
			+emailForm('email-form')
		.contacts-page__map
			+mapSection()
		.contacts-page__footer
			+footerSection()
		


		
