//- index.pug
extends ../layout.pug

block content
	include ../common.blocks/banner-section/banner-section.pug
	include ../common.blocks/about-section/about-section.pug
	main.main-page-wrapper
		.main-page-wrapper__banner
			+bannerSection()
		.main-page-wrapper__about
			+aboutSection()