//- schedule.pug
extends ../layout.pug

block content
	include ../common.blocks/talks-section/talks-section.pug
	section.schedule-page
		h1.schedule-page__header.page-title Schedule
		main.schedule-page__main
			+talksSection()
			
