html.js
  display none

.loader {
  background: none repeat scroll 0 0 #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.loader__grid {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}
.loader__cell {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e75735;
  animation: loader__cell 1.2s linear infinite;
}

.loader__cell:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.loader__cell:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.loader__cell:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.loader__cell:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.loader__cell:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.loader__cell:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.loader__cell:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.loader__cell:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.loader__cell:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes loader__cell {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}