html.js
  display none

.loader
  background none repeat scroll 0 0 #fff
  height 100%
  width 100%
  position fixed
  bottom 0
  left 0
  right 0
  top 0
  z-index 9999

  &__grid 
    display inline-block
    position absolute
    width 3.516483516rem
    height 3.516483516rem
    top calc(50% - 1.758241758rem)
    left calc(50% - 1.758241758rem)

  &__cell 
    position absolute
    width 0.714285714rem
    height 0.714285714rem
    border-radius 50%
    background #e75735
    animation loader__cell 1.2s linear infinite

    &:nth-child(1) 
      top 0.32967033rem
      left 0.32967033rem
      animation-delay 0s

    &:nth-child(2) 
      top 0.32967033rem
      left 1.428571429rem
      animation-delay -0.4s

    &:nth-child(3) 
      top 0.32967033rem
      left 2.472527473rem
      animation-delay -0.8s

    &:nth-child(4) 
      top 1.428571429rem
      left 0.32967033rem
      animation-delay -0.4s

    &:nth-child(5) 
      top 1.428571429rem
      left 1.428571429rem
      animation-delay -0.8s

    &:nth-child(6) 
      top 1.428571429rem
      left 2.472527473rem
      animation-delay -1.2s

    &:nth-child(7) 
      top 2.472527473rem
      left 0.32967033rem
      animation-delay -0.8s

    &:nth-child(8) 
      top 2.472527473rem
      left 1.428571429rem
      animation-delay -1.2s

    &:nth-child(9) 
      top 2.472527473rem
      left 2.472527473rem
      animation-delay -1.6s

@keyframes loader__cell 
  0%, 100% 
    opacity 1
  
  50% 
    opacity 0.5
  
