.arrow-button
  noselect()
  position relative
  display inline-block
  width 3.626373626373626em
  height @width
  font-size inherit
  background-color white
  border 0.21978021978022em color-cold solid
  border-radius 50%
  cursor pointer
  outline none
  &:hover, &:focus       
    @media (hover: hover)
      background-color color-cold
    & .arrow-button__arrow
      @media (hover: hover)
        background-color color-cold
        border-color white
  &:active
    @media (hover:none)
      background-color color-cold
    & .arrow-button__arrow
      @media (hover:none)
        background-color color-cold
        border-color white
  &_disabled
    pointer-events none
    background-color color-bg
    border-color color-bg
    & .arrow-button__arrow
      background-color color-bg
      border-color white
  &_active
    &.arrow-button_direction_right
      transform translateX(1px)
    &.arrow-button_direction_left
      transform translateX(-1px)
  &_direction_right
    &:active
      transform translateX(1px)
    & .arrow-button__arrow
      right 50%
      transform translate(30%, -50%) rotate(-45deg)
  &_direction_left
    &:active
      transform translateX(-1px)
    & .arrow-button__arrow
      left 50%
      transform translate(-30%, -50%) rotate(135deg)
  &__arrow
    position absolute
    top 50%
    width 1.263736263736264em
    height @width
    border solid color-cold
    border-width 0 0.274725274725275em 0.274725274725275em 0