.arrow
	border solid color-cold
	border-width 0 6px 6px 0
	width 29px
	height @width
	&.left
		transform rotate(-45deg)
		margin-top 23px
		margin-left 18px
	&.right
		transform rotate(135deg)
		margin-top 23px
		margin-left 28px