@import 'arrow.styl'

.arrow-button
	cursor pointer
	display inline-block
	width 86px
	height @width
	border 6px color-cold solid
	border-radius 50%
	background-color white
	&:hover, &:focus
		background-color color-cold
		& .arrow
			background-color color-cold
			border-color white
	&.disabled
		pointer-events none
		background-color color-bg
		border-color color-bg
		& .arrow
			background-color color-bg
			border-color white
	
.left
	&:active
		transform translateX(1px)
	& .arrow
		border solid color-cold
		border-width 0 6px 6px 0
		width 29px
		height @width
		transform rotate(-45deg)
		margin-top 23px
		margin-left 18px
		
.right
	&:active
		transform translateX(-1px)
	& .arrow
		border solid color-cold
		border-width 0 6px 6px 0
		width 29px
		height @width
		transform rotate(135deg)
		margin-top 23px
		margin-left 28px
