mixin arrowButton(direction, disabled)
	- var className = "arrow-button_direction_"+direction
	- if (disabled === true) {
	- className += " arrow-button_disabled"
	- }
	a.arrow-button(class=className)
		.arrow-button__arrow