mixin arrowButton(settings)
  - let className = 'arrow-button js-arrow-button arrow-button_direction_';
  - let tabValue = '0';
  - className += settings.direction === 'right' ? 'right' : 'left';
  - if (settings.disabled) {
  -   className += ' arrow-button_disabled';
  -   tabValue = '-1';
  - }
  a(class = className)
    .arrow-button__arrow