mixin arrowButton(_settings)
	- var settings = {
	- direction: _settings.direction==="right"?"right":"left", // values: left, right. default:left.
	- disabled: _settings.disabled===true?true:false //values:true, false. default: false.
	- }
	- var className = "arrow-button arrow-button_direction_" + settings.direction;
	- if (settings.disabled===true) {
	- className += " arrow-button_disabled"
	- }
	a(class=className)
		.arrow-button__arrow