mixin arrowButton(settings)
  - let className = 'arrow-button arrow-button_direction_';
  - className += settings.direction === 'right' ? 'right' : 'left';
  - if (settings.disabled) {
  - className += ' arrow-button_disabled';
  - }
  a(class=className)
    .arrow-button__arrow