mixin profileSection()
  section.profile-section
    h2.profile-section__title user profile
    .profile-section__container
      .profile-section__card
        +userCard({ 
          name: 'John Smith', 
          position: 'ux designer', 
          img: 'john-smith.jpg',
          links: {
            facebook: 'https://www.facebook.com/',
            twitter: 'https://twitter.com/',
            dribbble: 'https://dribbble.com/',
          }
        })
      .profile-section__card
        +userCard({
          name: 'Sarah Brown',
          position: 'developer',
          img: 'sarah-brown.jpg',
          links: {
            facebook: 'https://www.facebook.com/',
            twitter: 'https://twitter.com/',
            dribbble: 'https://dribbble.com/'
          }
        }, true)