include ../profile-card/profile-card.pug

mixin profileSection(settings = {})
  - const { title = 'user profile' } = settings;
  section.profile-section
    h2.profile-section__title= title
    .profile-section__container
      .profile-section__card
        +profileCard({ 
          name: 'John Smith', 
          position: 'ux designer', 
          img: 'john-smith.jpg',
          links: {
            facebook: 'https://www.facebook.com/',
            twitter: 'https://twitter.com/',
            dribbble: 'https://dribbble.com/',
          }
        })
      .profile-section__card
        +profileCard({
          name: 'Sarah Brown',
          position: 'developer',
          img: 'sarah-brown.jpg',
          links: {
            facebook: 'https://www.facebook.com/',
            twitter: 'https://twitter.com/',
            dribbble: 'https://dribbble.com/'
          }
        }, {
          color: 'cyan'
        })