@import '../../../styles/mixins.styl'

.form-section
  &__title
    sectionTitle()
    margin-bottom 3.8rem
    letter-spacing 0.08rem

  &__container
    display flex
    justify-content space-between
    flex-flow row nowrap

    @media screen and (max-width: 700px)
      flex-wrap wrap

  &__form
    flex 20.43956044rem 2 1
    margin 0 1.8rem 2.5rem 0

    @media screen and (max-width: 700px)
      flex 100% 0 0
      min-width 5.494505495rem
      margin-right 0

  &__checkboxes
    flex 20.05494505rem 1 2
    display flex
    flex-flow row wrap
    justify-content space-around
    align-content flex-start

  &__toggles
    flex 100% 0 0
    margin-bottom 2.9rem
    text-align center

    @media screen and (max-width: 700px)
      flex 10.98901099rem 1 1

    & ^[0]__title
      margin-bottom 2.5rem
  
  &__toggle
    display inline-block

    &:first-of-type
      margin-right 0.7rem

  &__tickboxes
    flex 100% 0 0
    text-align center

    @media screen and (max-width: 700px)
      flex 10.98901099rem 1 1
      margin-bottom 2.9rem

    & ^[0]__title
      margin-bottom 2.5rem
      word-spacing 0.2rem

  &__tickbox
    display inline-block
    
    &:first-of-type
      margin 0 0.9rem 0 -0.9rem