.input-field
  background color-bg
  font-family ui-font-family
  font-size 1rem
  padding 0.3846153846153846rem 0.989010989010989rem
  color darken(color-bg, 40.5)
  border none
  border-radius 3px
  width 100%