- var data = require('../assets/data/data.json')
include ../news-card/news-card.pug
include ../calendar/calendar.pug

mixin eventCarousel()
	section.event-carousel
		a.event-carousel__link(href="./schedule.html" title="schedule") See all events
		.event-carousel__cards
			.event-carousel__card-wrapper
				each item in data.talks
						.event-carousel__card
							+newsCard(item, {type:"event", compact: true})
