mixin searchSection()
  section.search-section
    h2.search-section__title search / drop down
    form.search-section__form
      .search-section__search-box
        +searchBox()
      .search-section__search-box
        +searchBox(true)
      .search-section__drop-down
        +dropDown([
          'This is option 1',
          'This is option 2',
          'This is option 3',
          'This is option 4'
        ])