include ..\search-box\search-box.pug
include ..\drop-down\drop-down.pug

mixin searchSection()
	.search-section
		h1.search-section__header search / drop down
		.search-section__container
			.search-section__search-box
				+searchBox()
			.search-section__search-box
				+searchBox()(class="search-box__input-field_filled")
			.search-section__drop-down
				+dropDown('dropDown', ['This is option 1','This is option 2','This is option 3','This is option 4'])
			