include ../search-box/search-box.pug
include ../drop-down/drop-down.pug

mixin searchSection(settings = {})
  - const { title = 'search / drop down' } = settings;
  section.search-section
    h2.search-section__title= title
    form.search-section__form
      .search-section__search-box
        +searchBox()
      .search-section__search-box
        +searchBox({ filled: true })
      .search-section__drop-down
        +dropDown({ 
          items: [
            'This is option 1',
            'This is option 2',
            'This is option 3',
            'This is option 4'
          ]
        })