.navigation-bar
  position fixed
  width 100%
  top 0
  left 0
  background-color white
  z-index 200
  @media screen and (max-width:425px)
    height 60px
    background-color transparent
  &__menu
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around
    width 100%
    margin 0
    padding 1rem 1rem 0
    transition all 1s cubic-bezier(.325, 1, .22, 1)
    @media screen and (max-width:425px)
      overflow hidden
      flex-direction column
      flex-wrap wrap
      justify-content flex-start
      height 0px
      padding 0
  &__item
    margin 0 0.5rem 1rem
    padding 0
    flex auto 1 1
    text-align center
    list-style none
    & a
      font-size 1rem
      text-decoration none
      font-weight lighter
      color color-text
      text-transform uppercase
      &:hover
        @media (hover:hover)
          text-decoration underline
      &:active
        @media (hover:hover)
          text-decoration none
        @media (hover:none)
          text-decoration underline
  &__icon
    display none
    @media screen and (max-width:425px)
      display block
      position absolute
      top 20px
      left 13px
      height 27px
      width 27px
      cursor pointer
      text-indent -9999px //Hide the label
      transition all 1s cubic-bezier(.19, 1, .22, 1)
      //Remove blinking cursor
      border none
      color transparent
      text-shadow 0 0 0 gray
      text-align center
      &:focus
        outline none
  &__icon-line
    position absolute
    display block
    background color-cold-darker
    width 27px
    height .2rem
    border-radius .2rem
    left 0
    text-indent 0
    transition all .6s cubic-bezier(.5, .1, 0, 1.2)
    &:first-child
      top 0
    &:nth-child(2)
      top 8px
    &:nth-child(3)
      top: 16px

  & input[type='checkbox']
    display none
    visibility hidden
    &:checked
      & ~ .navigation-bar__menu
        height auto
        padding 1rem 1rem 0
        background-color color-bg
        & .navigation-bar__item
          height auto
          max-height 30rem
          transition all 2s cubic-bezier(.5, 1, .22, 1)
      & ~ .navigation-bar__icon .navigation-bar__icon-line
        &:first-child
          top 0px
          width 27px
          transform translateX(-8px) rotate(-45deg) translateY(12px)
        &:nth-child(2)
          opacity 0
        &:nth-child(3)
          top 14px
          width 27px
          transform translateX(-5px) rotate(45deg) translateY(-8px)
      
