.navigation-bar
	&__menu
		width 100%
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-around
		margin 0
		padding 1rem
	&__item
		list-style none
		margin 0
		padding 0
		flex 150px 1 1
		text-align center
		& a
			font-size 1rem
			text-decoration none
			font-weight lighter
			color color-text
			text-transform uppercase
			&:hover
				text-decoration underline
			&:active
				text-decoration none
