.registration-form
	
	&__name
		display flex
		margin 0 auto 1rem

	&__input
		flex 271px 1 1

	&__email
		margin-bottom 0.8rem
		display flex
		margin 0 auto 2rem

	&__bubble
		visibility hidden
		width 5.21978021978022rem
		min-width 4.5rem
		padding 0.55rem
		border-radius 5px
		position relative
		font-size 0.7rem
		text-transform uppercase
		text-align center
		font-weight bold
		color white
		margin-left 0.6593406593406593rem
		letter-spacing 0.06rem
		transition 0.3s
		transform translateX(-50px)
		&::before
			visibility hidden
			content ''
			position absolute
			top 50%
			left 0
			width 0.3296703296703297rem
			height @width
			border-radius 1px
			transform translate(-50%, -50%) rotate(45deg)

	&__bubble_type_error
		background-color color-warm
		visibility visible
		transform translateX(0)
		&::before
			background-color color-warm
			visibility visible

	&__bubble_type_good
		background-color color-cold
		visibility visible
		transform translateX(0)
		&::before
			background-color color-cold
			visibility visible
	&__first-stage
		background-color #bfcac8
		border-radius 10px
		padding 2.5rem 1rem 1rem
		width 100%
		margin 0 auto
		max-width 800px
	&__subscribe
		margin 0 auto
		display flex
		justify-content center
	&__subscribe-text
		margin 0 0.5rem
		text-align center
	&__pass-selector
		margin-top 3rem
		overflow hidden
	&__last-stage
		margin 2rem auto
		width 100%
		max-width 800px
		background-color #bfcac8
		border-radius 10px
		padding 0.5rem 1rem
		display flex
		justify-content center
		align-items center
		flex-wrap wrap
		font-size 1rem
		@media screen and (max-width:375px)
			font-size 0.8rem
	&__policy-checkbox
		flex auto 0 0
	&__policy-text
		flex 200px 1 1
		margin 0.5rem 1rem
		font-size inherit
	&__button
		flex auto 0 2
		text-align right
		font-size inherit