.calendar-section
  &__title
    margin-bottom 1.8rem
    sectionTitle()
  &__container
    max-width 360.594px
    margin 0 auto
    font-size 0,9918461538461538rem
    @media screen and (max-width: 910px)
      font-size 1.96vw
    @media screen and (max-width: 751px)
      font-size 0.8087692307692308rem