@import '../../../styles/mixins.styl'

.calendar-section
  &__title
    sectionTitle()
    margin-bottom 1.8rem

  &__container
    max-width 20.32967033rem
    margin 0 auto

    @media screen and (max-width: 768px)
      max-width 17.03296703rem