.calendar-section
  &__title
    margin-bottom 1.8rem
    sectionTitle()

  &__container
    max-width 370px
    margin 0 auto
    font-size 0.9918461538461538rem
    
    @media screen and (max-width: 425px)
      max-width 290px
      font-size 0.7rem