mixin breadCrumbs(max, activeItem)
	ul.bread-crumbs
		- for (var i = 1; i <= max; i++) {
			- if (i === activeItem) {
			li.bread-crumbs__item.bread-crumbs__item_active= i
			- } else {
			li.bread-crumbs__item= i
		- } }

+breadCrumbs(5, 3)