mixin breadCrumbs(settings)
  - const active = settings.active !== undefined ? settings.active : 1;
  - const max = settings.max !== undefined ? settings.max : 5;
  ul.bread-crumbs
    - for (let i = 1; i <= max; i++) {
      - if (i === active) {
      li.bread-crumbs__item.bread-crumbs__item_active
        .bread-crumbs__circle= i
      - } else {
      li.bread-crumbs__item.js-bread-crumbs__item
        .bread-crumbs__circle= i
      - }
    - }