mixin breadCrumbs(settings)
  - const { active = 1, max = 5 } = settings;
  - const activeClass = 'bread-crumbs__item_active';
  ul.bread-crumbs
    - for (let i = 1; i <= max; i++)
      - let className = 'bread-crumbs__item js-bread-crumbs__item';
      - if (i === active) {
      -   className += ` ${activeClass}`;
      - }
        li(class = className)
          .bread-crumbs__circle= i