@import '../../styles/mixins.styl'

.pass-selector
  &__title
    sectionTitle()
    margin-bottom 1rem
  
  &__options
    display flex
    align-items stretch
    font-size 0

  &__pass-info
    width 33.33333%