include ../pass-info/pass-info.pug

mixin passSelector()
  section.pass-selector.js-pass-selector
    h2.pass-selector__title.js-pass-selector__title Find the conference pass for you
    .pass-selector__options
      .pass-selector__pass-info
        +passInfo({
          name: 'Premium',
          price: '$995',
          description: 'Visit any events without limitation',
          tickboxValue: '1',
          checked: true,
        })
      .pass-selector__pass-info
        +passInfo({
          name: 'Track',
          price: '$575',
          description: 'Visit all events in a track',
          tickboxValue: '2',
        })
      .pass-selector__pass-info
        +passInfo({
          name: 'Daily',
          price: '$235',
          description: 'Attend 1 event per day on a conference week',
          tickboxValue: '3',
        })