@import '../../../styles/variables.styl'

.footer-section
  display flex
  flex-flow row wrap
  justify-content space-between
  width 100%
  padding 2rem 3rem
  color white
  background-color color-text

  @media screen and (max-width: 600px)
    padding 1.5rem 2rem

  &__header
    margin-bottom 1rem
    color color-cyan
    font bold 1.2rem font-family 

    @media screen and (max-width: 600px)
      font-size 1rem

  &__contacts
    width 50%
    flex-shrink 0
    text-align left

  &__list
    margin 0
    padding 0

  &__list-item
    margin 0 
    padding 0
    list-style none
    font normal 1rem/1.5 font-family

    @media screen and (max-width: 600px)
      font normal 0.8rem/1.625 font-family

  &__link
    color inherit
    overflow-wrap anywhere

    &:hover
      @media (hover:hover)
        text-decoration none 

    &:active
      @media (hover:hover)
        text-decoration underline
      @media (hover:none)
        text-decoration none

  &__docs
    width 50%
    flex-shrink 0
    text-align right
    
  &__copyright
    width 100%
    margin-top 2rem
    text-align center
    font-size 1rem

    @media screen and (max-width: 600px)
      font-size 0.8rem

