//- speakers.pug
extends ../../templates/layout.pug

include ../../common.blocks/search-box/search-box.pug
include ../../common.blocks/speaker-carousel/speaker-carousel.pug
include ../../common.blocks/footer-section/footer-section.pug

block title
  title Speakers

block content
  - const data = require('../../assets/data/data.json');
  - const { speakers } = data;
  .speakers.js-speakers
    main.speakers__main
      header.speakers__header
        h1.speakers__title Speakers
        p.speakers__intro We've combined the country and the world for extraordinary speakers, covering the most relevant topics for today's front end developers, designers, and managers.
      section.speakers__search
        +searchBox()
      .speakers__carousel
        +speakerCarousel()
    footer.speakers__footer
      +footerSection()