@import '../../styles/mixins.styl'

.speakers
  display flex
  flex-flow column nowrap
  min-height 100%
  width 100%

  &__main
    flex 1 0 auto
    width 100%
    margin 5.494505495rem auto 0

  &__title
    pageTitle()

  &__intro
    font lighter 1rem font-family
    text-align center
    margin 1rem auto 2rem
    width 100%
    max-width 43.95604396rem
    padding 0 1rem

  &__search
    width 100%
    max-width 43.95604396rem
    margin 1rem auto
    padding 0 1rem

  &__carousel
    width 100%

  &__footer
    flex 0 0 auto