//- speakers.pug
extends ../../pug/layout.pug

block title
 title Speakers

block content
  - const data = require('../../assets/data/data.json');
  .speakers.js-speakers
    main.speakers__main
      h1.speakers__title Speakers
      p.speakers__intro We've combined the country and the world for extraordinary speakers, covering the most relevant topics for today's front end developers, designers, and managers.
      section.speakers__search
        +searchBox()
      section.speakers__card-carousel
        .speakers__cards.js-speakers__cards
          .speakers__card-wrapper
            each item in data.speakers
              .speakers__card
                +speakerCard(item)
        .speakers__controls
          .speakers__left-button.js-speakers__left-button
            +arrowButton({ direction:'left', disabled: true })
          a.speakers__link.js-speakers__link View all speakers
          .speakers__right-button.js-speakers__right-button
            +arrowButton({ direction:'right' })
    footer.speakers__footer
      +footerSection()