include ../news-card/news-card.pug
- var data = require('../assets/data/data.json');

mixin talksSection()
	.talks-section
		h2.talks-section__title.section-title Development
		.talks-section__category
			each item in data.talks
				- if (item.category === "development") {
					.talks-section__card
						+newsCard(item, false, true)
				-}
		h2.talks-section__title.section-title Management
		.talks-section__category
			each item in data.talks
				- if (item.category === "management") {
					.talks-section__card
						+newsCard(item, false, true)
				-}
		h2.talks-section__title.section-title Design
		.talks-section__category
			each item in data.talks
				- if (item.category === "design") {
					.talks-section__card
						+newsCard(item, false, true)
				-}
