@import '../../styles/variables.styl'

.navigation-bar
  position fixed
  width 100%
  top 0
  left 0
  background-color white
  z-index 200

  @media screen and (max-width: 425px)
    height 3.296703297rem
    background-color transparent

  &__menu
    display flex
    flex-flow row wrap
    justify-content space-around
    width 100%
    margin 0
    padding 1rem 1rem 0
    transition all 1s cubic-bezier(.325, 1, .22, 1)

    @media screen and (max-width: 425px)
      overflow hidden
      flex-flow column wrap
      justify-content flex-start
      height 0rem
      padding 0

  &__item
    margin 0 0.5rem 1rem
    padding 0
    flex auto 1 1
    text-align center
    list-style none

  &__link
    font lighter 1rem font-family
    text-decoration none
    color color-text
    text-transform uppercase

    &:hover
      @media (hover:hover)
        text-decoration underline

    &:active
      @media (hover:hover)
        text-decoration none

      @media (hover:none)
        text-decoration underline

  &__icon
    display none

    @media screen and (max-width: 425px)
      display block
      position absolute
      top 1.098901099rem
      left 0.714285714rem
      height 1.483516484rem
      width 1.483516484rem
      cursor pointer
      text-indent -9999px // Hide the label
      transition all 1s cubic-bezier(.19, 1, .22, 1)
      // Remove blinking cursor
      border none
      color transparent
      text-shadow 0 0 0 gray
      text-align center
      &:focus
        outline none

  &__icon-line
    position absolute
    display block
    background color-cyan-darker
    width 1.483516484rem
    height .2rem
    border-radius .2rem
    left 0
    text-indent 0
    transition all .6s cubic-bezier(.5, .1, 0, 1.2)

    &:first-child
      top 0

    &:nth-child(2)
      top 0.4rem

    &:nth-child(3)
      top 0.8rem

  &__toggle
    display none
    visibility hidden

    &:checked
      & ~ ^[0]__menu
        height auto
        padding 1rem 1rem 0
        background-color color-bg

        & ^[0]__item
          height auto
          max-height 30rem
          transition all 2s cubic-bezier(.5, 1, .22, 1)

      & ~ ^[0]__icon ^[0]__icon-line
        &:first-child
          top 0
          width 1.483516484rem
          transform translateX(-0.43956044rem) rotate(-45deg) translateY(0.659340659rem)

        &:nth-child(2)
          opacity 0
          
        &:nth-child(3)
          top 0.769230769rem
          width 1.483516484rem
          transform translateX(-0.274725275rem) rotate(45deg) translateY(-0.43956044rem)
      
