mixin navigationBar()
  nav.navigation-bar
    input.navigation-bar__toggle(id="toggle" type="checkbox")
    label.navigation-bar__icon(for="toggle")
      span.navigation-bar__icon-line
      span.navigation-bar__icon-line
      span.navigation-bar__icon-line
    ul.navigation-bar__menu
      li.navigation-bar__item
        a.navigation-bar__link(href="index.html" title="Home") Home
      li.navigation-bar__item
        a.navigation-bar__link(href="registration.html" title="Registration") Registration
      li.navigation-bar__item
        a.navigation-bar__link(href="schedule.html" title="Schedule") Schedule
      li.navigation-bar__item
        a.navigation-bar__link(href="speakers.html" title="Speakers") Speakers
      li.navigation-bar__item
        a.navigation-bar__link(href="contacts.html" title="Contacts") Contacts
      li.navigation-bar__item
        a.navigation-bar__link(href="uidemo.html" title="UI Kit Demo") UI Kit Demo