include ../donut-chart/donut-chart.pug

mixin chartSection()
	.chart-section
		h1.chart-section__header.section-title percentages / pie chart
		.chart-section__container
			.chart-section__chart
				+donutChart('percentage-chart1', true)
			.chart-section__chart
				+donutChart('percentage-chart2', true)
			.chart-section__chart
				+donutChart('percentage-chart3', true)
			.chart-section__chart
				+donutChart('percentage-chart4', true)
			.chart-section__chart
				+donutChart('donut-chart')