@import '../../styles/variables.styl'

.footer-link-list
  &__title
    margin-bottom 1rem
    color color-cyan
    font bold 1.2rem font-family 

    @media screen and (max-width: 600px)
      font-size 1rem

  &__links
    text-align inherit

  &__list
    margin 0
    padding 0

  &__list-item
    margin 0 
    padding 0
    list-style none
    font normal 1rem/1.5 font-family

    @media screen and (max-width: 600px)
      font normal 0.8rem/1.625 font-family

  &__link
    color inherit
    overflow-wrap anywhere

    &:hover
      @media (hover:hover)
        text-decoration none 

    &:active
      @media (hover:hover)
        text-decoration underline
      @media (hover:none)
        text-decoration none