mixin video()
	.video
		iframe&attributes(attributes)

+video()(src="https://player.vimeo.com/video/62980495" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)