mixin video(settings = {})
  - const { source = 'https://player.vimeo.com/video/62980495' } = settings;
  .video.js-video
    iframe.video__frame.js-video__frame(
      src=source
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    )