mixin video(source)
  .video.js-video
    iframe.video__frame.js-video__frame(
      src=source
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    )