//- schedule.pug
extends ../../pug/layout.pug

block title
  title Schedule

block content
  - const data = require('../../assets/data/data.json');
  .schedule-page
    main.schedule-page__main
      h1.schedule-page__title Schedule
      main.schedule-page__content
        +talksSection(data.talks)
    footer.schedule-page__footer
      +footerSection()

   
