extends ../../templates/layout.pug

include ../../common.blocks/talks-section/talks-section.pug
include ../../common.blocks/footer-section/footer-section.pug
include ../../common.blocks/navigation-bar/navigation-bar.pug

block title
  title Schedule

block content
  -
    const data = require('../../assets/data/data.json');
    const { navigation, talks, footer } = data;
  .schedule
    .schedule__navigation-bar
      +navigationBar(navigation)
    main.schedule__main
      h1.schedule__title Schedule
      main.schedule__content
        +talksSection(talks)
    .schedule__footer
      +footerSection(footer)

   
