//- schedule.pug
extends ../../pug/layout.pug

block title
  title Schedule

block content
  - const data = require('../../assets/data/data.json');
  .schedule
    main.schedule__main
      h1.schedule__title Schedule
      main.schedule__content
        +talksSection(data.talks)
    footer.schedule__footer
      +footerSection()

   
