mixin eventCard(data)
	- var image = require("./assets/img/"+ data.image)

	.event-card
		.event-card__image(style='background-image: url('+image+')')
		.event-card__content
			- var date = new Date(data.date);
			- var day = date.getDate();
			- var month = date.toLocaleString("en-us", { month: "short" });
			.event-card__date= day
				.event-card__month= month
			.event-card__title= data.title
			.event-card__text= data.text
			.event-section__button
				+button('add to calendar')(class='button_size_small')