mixin tickBox(settings) 
  - const isChecked = !!settings.checked;
  - let className = "tick-box js-tick-box";
  - if (settings.color === "warm") {
  - className += " tick-box_color_warm";
  - }
  div(class=className)
    label.tick-box__label
      input.tickbox__input.js-tickbox__input(type="checkbox" value=settings.value name=settings.name checked=isChecked)
      .tick-box__checkmark.js-tick-box__checkmark(tabindex="0")