mixin policyTickbox(settings = {})
  -
    const agreementText = 'I agree with Web Talks Terms and Conditions and the Privacy Policy';
    const { text = agreementText } = settings;
  section.policy-tickbox
    .policy-tickbox__checkbox
      +tickBox({ value: '1', name: 'policy' })
    p.policy-tickbox__text= text