mixin policyTickbox()
  section.policy-tickbox
    .policy-tickbox__checkbox
      +tickBox({ value: '1', name: 'tickbox-policy' })
    p.policy-tickbox__text I agree with Web Talks Terms and Conditions and the Privacy Policy