.button-section
    width 100%

    &__header
        margin-bottom 5rem
        @media screen and (max-width: screen-sm)
            margin-bottom 3rem

    &__container
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-between
        align-content space-between
        align-items baseline
        width 100%
        @media screen and (max-width: screen-sm)
            flex-direction column
            height 440px
            align-content space-around
            justify-content space-around
            width 80%
            margin 0 auto

    &__button
        margin-bottom 1.3rem
        &:nth-child(4n+1)
            @media screen and (max-width: screen-sm)
                order: 3
        &:nth-child(4n+2)
            @media screen and (max-width: screen-sm)
                order: 1
        &:nth-child(4n+3)
            @media screen and (max-width: screen-sm)
                order: 2
        &:nth-child(4n+4)
            @media screen and (max-width: screen-sm)
                order: 4