.button-section
    width 100%

    &__header
        margin-bottom 5rem
        @media screen and (max-width: screen-sm)
            margin-bottom 3rem

    &__container
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-between
        align-content space-between
        align-items baseline
        width 100%
        @media screen and (max-width: 920px)
            justify-content space-around
        @media screen and (max-width: 650px)
            flex-direction column
            height 440px
            align-content space-around

    &__button
        margin-bottom 1.3rem
        margin-right percentage(30px/605px)
        @media screen and (max-width: 735px)
            margin-right 0
        &:nth-child(4n+1)
            @media screen and (max-width: 650px)
                order: 3
        &:nth-child(4n+2)
            @media screen and (max-width: 650px)
                order: 1
        &:nth-child(4n+3)
            @media screen and (max-width: 650px)
                order: 2
        &:nth-child(4n+4)
            margin-right 0
            @media screen and (max-width: 650px)
                order: 4