.button-section
  width 100%

  &__title
    margin-bottom 5rem
    sectionTitle()

    @media screen and (max-width: 689px)
      margin-bottom 3rem

  &__container
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between

  &__column
    display flex
    flex-direction column
    flex-wrap wrap
    justify-content normal
    flex 15.65934065934066rem 1 0
    height 12rem
    margin 0 auto

    @media screen and (max-width: 689px)
      max-width 380px

    &:first-child
      @media screen and (min-width: 720px)
        margin-right 4%

  &__button
    margin-bottom 1.3rem

    &:nth-child(-n+3)
      @media screen and (min-width: 720px)
        margin-right 8%

    &_size_small
      margin-top 0.769230769230769rem
      
      &:nth-last-child(-n+3)
        @media screen and (max-width: 689px)
          order: -1