*
  margin 0
  padding 0
*, *::after, *::before
	box-sizing border-box
html
  height 100%
	font-size initial-font-size
  background-color white
body
  height 100%
html, input, textarea
	font-family font-family
	color color-text