*
  margin 0
  padding 0

*, *::after, *::before
	box-sizing border-box

html
  height 100%
  font-family font-family
  font-size initial-font-size
	color color-text
  background-color white

body
  height 100%
	