.contacts-page
	width 90%
	margin 2rem auto 0
	&__email
		margin 3rem auto 0
	&__text
		font-size 1rem
		font-weight lighter
		text-align center
	&__form
		margin 2rem auto 0
		width 60%
	&__map
		margin 3rem auto 0
	&__footer
		margin-top 3rem