@font-face
  font-family 'Lato'
  src url('../assets/fonts/lato-regular.eot')
  src local('☺'), url('../assets/fonts/lato-regular.woff') format('woff'), url('../assets/fonts/lato-regular.ttf') format('truetype'), url('../assets/fonts/lato-regular.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Lato'
  src url('../assets/fonts/lato-black.eot')
  src local('☺'), url('../assets/fonts/lato-black.woff') format('woff'), url('../assets/fonts/lato-black.ttf') format('truetype'), url('../assets/fonts/lato-black.svg') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'Lato'
  src url('../assets/fonts/lato-light.eot')
  src local('☺'), url('../assets/fonts/lato-light.woff') format('woff'), url('../assets/fonts/lato-light.ttf') format('truetype'), url('../assets/fonts/lato-light.svg') format('svg')
  font-weight lighter
  font-style normal

@font-face
  font-family 'SourceSansPro'
  src url('../assets/fonts/sourcesanspro-regular.eot')
  src local('☺'), url('../assets/fonts/sourcesanspro-regular.woff') format('woff'), url('../assets/fonts/sourcesanspro-regular.ttf') format('truetype'), url('../assets/fonts/sourcesanspro-regular.svg') format('svg')
  font-weight normal
  font-style normal