.main-page-wrapper
	width 100%
	&__banner
		width 100%
		background-color color-cold
		padding 4rem
		color white
		font-size 2rem
		text-align center
	&__location
		font-size 0.5em
		display block
		font-weight lighter
	&__title
		margin 1em auto
	&__name
		font-size 1.5em
		letter-spacing 0.05em
		font-weight bold
		line-height 1em
		display block
		text-shadow 0.1em 0 0 rgba(0,0,0,0.3)
	&__tagline
		font-size 0.5em
		display block
		font-weight lighter
	&__register-button
		width 300px
		margin 0 auto
		font-size 1rem