clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

remify(value) {
    u = unit(value);

    if (u is 'px') {
        return unit(value/initial-font-size, 'rem');
    } else {
        return unit(value, u);
    }
}