.page-container
	width 92%
	max-width 1145px
	margin 0 auto
	padding-top 5.4rem
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-content space-between

.page-container__button-section
	width 605px

.page-container__arrow-section
	width 549px
	margin-top 2.5rem

.page-container__chart-section
	width 790px
	margin-top 1.65rem

.page-container__slider-section
	width 771px
	margin-top 1rem

.page-container__stages-section
	width 776px

.page-container__form-section
	width 773px
	margin-top 3.1rem

.page-container__search-section
	width 375px
	margin-top 1rem

.page-container__profile-section
	width 525px

.page-container__news-section
	width 1145px

.page-container__map-section
	width 1145px

.page-container__calendar-section
	width 40%

.page-container__video-section
	width 100%
