.page-container
	width 1145px
	margin 0 auto
	padding 165px 0

.page-container__button-section
	margin 0 125px

.page-container__arrow-section
	margin 112px 170px 0 165px

.page-container__chart-section
	margin-top 98px

.page-container__slider-section
	margin-top 76px

.page-container__stages-section
	margin-top 83px

.page-container__form-section
	margin-top 112px