.page-container
	width percentage(771px/910px)
	margin 0 auto
	padding-top remify(105px)
	text-align center
	@media screen and (max-width: 350px)
		padding-top 4rem
	/*display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-content space-between*/

.page-container__button-section
	width percentage(605px/771px)
	max-width 763px
	margin 0 auto
	@media screen and (max-width: 920px)
		width 100%

.page-container__arrow-section
	//width 549px
	margin-top 2.5rem

.page-container__chart-section
	//width 790px
	margin-top 1.65rem

.page-container__slider-section
	//width 771px
	margin-top 1rem

.page-container__stages-section
	//width 776px

.page-container__form-section
	//width 773px
	margin-top 3.1rem

.page-container__search-section
	//width 375px
	margin-top 37px
	margin-right 45px

.page-container__profile-section
	//width 348px
	margin-top 37px

.page-container__news-section
	width 1145px

.page-container__map-section
	width 1145px

.page-container__calendar-section
	width 40%

.page-container__video-section
	width 100%
