@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'
@import 'common.styl'
@import 'page-container.styl'
@import '../common.blocks/button/styl/button.styl'
@import '../common.blocks/button-section/styl/button-section.styl'
@import '../common.blocks/arrow-button/styl/arrow-button.styl'
@import '../common.blocks/arrow-section/styl/arrow-section.styl'
@import '../common.blocks/percentage-chart/styl/percentage-chart.styl'
@import '../common.blocks/chart-section/styl/chart-section.styl'
@import '../common.blocks/slider/styl/slider.styl'
@import '../common.blocks/slider-section/styl/slider-section.styl'
@import '../common.blocks/stages-section/styl/stages-section.styl'
@import '../common.blocks/bread-crumbs/styl/bread-crumbs.styl'
@import '../common.blocks/form-section/styl/form-section.styl'
@import '../common.blocks/input-field/styl/input-field.styl'
@import '../common.blocks/toggle-switch/styl/toggle-switch.styl'
@import '../common.blocks/tick-box/styl/tick-box.styl'
@import '../common.blocks/email-form/styl/email-form.styl'

@import '../common.blocks/search-box/styl/search-box.styl'
@import '../common.blocks/search-section/styl/search-section.styl'

@import '../common.blocks/drop-down/styl/drop-down.styl'

@import '../common.blocks/profile-section/styl/profile-section.styl'
@import '../common.blocks/user-card/styl/user-card.styl'

@import '../common.blocks/news-card/styl/news-card.styl'
@import '../common.blocks/event-card/styl/event-card.styl'
@import '../common.blocks/news-section/styl/news-section.styl'

@import '../common.blocks/map-section/styl/map-section.styl'
@import '../common.blocks/pin/styl/pin.styl'

@import '../common.blocks/calendar/styl/calendar.styl'

@import '../common.blocks/video/styl/video.styl'