//colors

color-cold = #4eb7a8
color-cold-darker = #28a290
color-warm = #e75735
color-warm-darker = #bf3e1f
color-bg = #e5e5e5
color-text = #4f4f4f
color-text-darker = #747474
color-outline = #4d90fe

// fonts
font-family= 'Lato', Arial, sans-serif
ui-font-family = 'SourceSansPro', sans-serif
initial-font-size= 18.2px
initial-line-height= 18.2px
header-size= 1.285714285714286rem

//breakpoints
screen-sm = 600px
screen-md2 = 890px

