//colors

color-cold = #4eb7a8
color-cold-darker = #28a290
color-warm = #e75735
color-warm-darker = #bf3e1f
color-bg = #e5e5e5
color-text = #4f4f4f

// fonts
font-family= 'Lato', sans-serif
ui-font-family = 'SourceSansPro', sans-serif
initial-font-size= 18.2px
header-size= (23.4px/initial-font-size)rem

//breakpoints
screen-sm = 600px
screen-md2 = 890px

