mixin percentageChart(idValue, percent)
	.percentage-chart(id=idValue)
		span.label= percent
		.pie
			.left-side.half-circle
			.right-side.half-circle
		.shadow

+percentageChart('percentage-chart1', 0)
+percentageChart('percentage-chart2', 38)
+percentageChart('percentage-chart3', 62)
+percentageChart('percentage-chart4', 89)