.contacts-page
  display flex
  flex-direction column
  min-height 100%
  &__main
    flex 1 0 auto
    width 90%
    margin 100px auto 2rem
    @media screen and (max-width:425px)
      margin-top 60px
  &__title
    pageTitle()
  &__email
    margin 3rem auto 0
    @media screen and (max-width:425px)
      margin-top 1rem
  &__text
    font-size 1rem
    font-weight lighter
    text-align center
  &__form
    margin 2rem auto 0
    width 100%
    max-width 750px
  &__map
    margin 3rem auto 0
  &__footer
    flex 0 0 auto