mixin slider(settings)
  - const options = settings || {};
  - const { type = '' } = options; 
  - const typeModifiers = {
  -   tooltip: 'slider_type_tooltip js-slider_type_tooltip',
  -   scale: 'slider_type_scale',
  - };
  - let className = 'slider js-slider';
  - type.split(' ').forEach((key) => {
  -   if (key in typeModifiers) className += ` ${typeModifiers[key]}`; 
  - });
  div(class= className)
  - if (type.search(/\bscale\b/) !== -1)
    ul.slider__scale
      - for (let i = 0; i <= 100; i += 25)
          li.slider__scale-item= i