@import '../../../styles/variables.styl'

.banner-section
  width 100%
  padding 7rem 2rem 4rem
  text-align center
  color white
  background color-cyan url('../img/banner-bg.jpg') no-repeat
  background-size cover

  &__location
    width max-content
    margin 0 auto
    padding 0.3rem 0.8rem
    font lighter 1.6rem font-family
    border 2px solid #80d8cb

  &__title
    margin 3rem auto 0
    font 900 6rem font-family
    letter-spacing 0.15rem

    @media screen and (max-width: 630px)
      font-size 4rem
    
    @media screen and (max-width: 375px)
      font-size 3.5rem

  &__tagline
    max-width 52.1978022rem
    margin 0.8rem auto 2.5rem
    font lighter 1rem font-family

  &__register-button
    width 16.48351648rem
    margin 0 auto
    font-size 1rem