doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title FlatUI project
	body
		include common.blocks/button/button.pug
		include common.blocks/arrow-button/arrow-button.pug
		//-include common.blocks/percentage-chart/percentage-chart.pug
		//-include common.blocks/donut-chart/donut-chart.pug
		//-include common.blocks/slider/slider.pug
		include common.blocks/toggle-switch/toggle-switch.pug
		include common.blocks/tick-box/tick-box.pug