include common.blocks/button-section/button-section.pug
include common.blocks/arrow-section/arrow-section.pug

- var data = require('./assets/data/data.json')

doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title FlatUI project
	body
		.page-container
			.page-container__button-section
				+buttonSection(data.buttons)
			.page-container__arrow-section
				+arrowSection(data.arrows)