doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title FlatUI project
	body
		include common.blocks/button/button.pug
		include common.blocks/arrow-button/arrow-button.pug
		include common.blocks/percentage-chart/percentage-chart.pug