include common.blocks/button-section/button-section.pug
include common.blocks/arrow-section/arrow-section.pug
include common.blocks/chart-section/chart-section.pug
include common.blocks/slider-section/slider-section.pug
include common.blocks/stages-section/stages-section.pug
include common.blocks/form-section/form-section.pug
include common.blocks/search-section/search-section.pug
include common.blocks/profile-section/profile-section.pug
include common.blocks/news-section/news-section.pug
include common.blocks/map-section/map-section.pug

doctype html
html
	head
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title FlatUI project
	body
		.page-container
			.page-container__button-section
				+buttonSection()
			.page-container__arrow-section
				+arrowSection()
			.page-container__chart-section
				+chartSection()
			.page-container__slider-section
				+sliderSection()
			.page-container__stages-section
				+stagesSection()
			.page-container__form-section
				+formSection()
			.page-container__search-section
				+searchSection()
			.page-container__profile-section
				+profileSection()
			.page-container__news-section
				+newsSection()
			.page-container__map-section
				+mapSection()