include common.blocks/button-section/button-section.pug
include common.blocks/arrow-section/arrow-section.pug
include common.blocks/chart-section/chart-section.pug


doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="inital-scale=1.0, width=device-width")
	title FlatUI project
	body
		.page-container
			.page-container__button-section
				+buttonSection()
			.page-container__arrow-section
				+arrowSection()
			.page-container__chart-section
				+chartSection()