@import '../../../styles/mixins.styl'

.registration
  display flex
  flex-direction column
  min-height 100%

  &__main
    flex 1 0 auto
    width 70%
    margin 0 auto 2rem

  &__header
    width 80%
    background linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 87%, rgba(255,255,255,0) 87%, rgba(255,255,255,0) 100%)
    z-index 100
    position fixed
    top 0
    left 50%
    transform translateX(-50%)
    padding 6rem 0 0

  &__title
    pageTitle()

  &__bread-crumbs
    width 100%
    margin 1rem 0

  &__form
    margin-top 13.18681319rem
    
  &__footer
    flex 0 0 auto