@import '../../../styles/mixins.styl'

.registration
  display flex
  flex-direction column
  min-height 100%

  &__main
    flex 1 0 auto
    width 70%
    margin 0 auto 2rem

  &__form
    margin-top 13.18681319rem
    
  &__footer
    flex 0 0 auto