@import '../common.blocks/calendar/styl/dcalendar.picker.css'

.calendar
	border-radius 0.3rem
	font-size 1.96vw
	overflow hidden
	max-width 480px
	min-width 300px
	@media screen and (max-width: 751px)
		font-size 0.8087692307692308rem
	@media screen and (min-width: 1200px)
		font-size 1.292307692307692rem
	@media screen and (max-width: 420px)
		min-width 260px