@import '../../../styles/variables.styl'
@import '../../../styles/mixins.styl'

.calendar
  background-color #f2f2f2
  border-radius 0.3rem
  overflow hidden

  &__day-container
    padding 0.6rem 0 0.3rem
    width 100%
    background-color color-orange
    text-align center
  
  &__day-text
    font lighter 5.714285714rem font-family
    color white
    background none
    border none

    @media screen and (max-width: 768px)
      font-size 4.5rem

  & .ui-datepicker-header
    display flex
    justify-content space-between
    align-items center
    padding 0.7rem 1.1rem
    background-color #d54c2c
    color white
  
  & .ui-datepicker-prev
    order 1
    flex 0 0 0.8rem
    height 0.8rem
    border 0.15rem white solid
    border-color white transparent transparent white
    transform rotate(-45deg)
    cursor pointer

    &:active
      transform translateX(-0.2rem) rotate(-45deg)
  
  & .ui-datepicker-next
    order 3
    flex 0 0 0.8rem
    height 0.8rem
    border 0.15rem white solid
    border-color white transparent transparent white
    transform rotate(135deg)
    cursor pointer

    &:active
      transform translateX(0.2rem) rotate(135deg)

  & .ui-datepicker-title
    order 2
    font lighter 1.7rem/1 font-family
    letter-spacing -0.04rem

  & .ui-datepicker-year
    display none
  
  & .ui-datepicker-calendar
    width calc(100% + 1px)
    border-spacing 0

    & thead
      background-color color-orange
      font bold 0.6428571428571429rem font-family
      color white
      text-transform uppercase
    
    & th
      padding 0.65rem

      @media screen and (max-width: 768px)
        padding 0.4rem 0.2rem

    & td
      padding 0.5rem 0.25rem
      width 14.28571428571429%
      text-align center
      border-right 1px solid white
      border-bottom 1px solid white
      cursor pointer

      @media screen and (max-width: 768px)
        padding 0.3rem

      &:last-child
        border-right none
      
      &:not(.ui-datepicker-unselectable):hover
        @media (hover: hover)
          background-color color-orange

          & .ui-state-default
            color white
      
    & .ui-datepicker-current-day
      background-color color-orange
              
      & .ui-state-default
      & .ui-state-default:focus
        color white
    
    & .ui-datepicker-days-cell-over
      box-shadow inset 0 0 0 0.10989011rem color-orange

    & .ui-state-default
      font normal 1.428571429rem ui-font-family
      color #868686
      text-decoration none
      outline none

      @media screen and (max-width: 768px)
        font-size 1rem

      &:focus
        color color-orange

    & .ui-state-disabled
      cursor text

      & .ui-state-default
        color white

  &__button-pane
    padding 1.2rem 1.37rem
    text-align left
    background-color color-bg

    @media screen and (max-width: 768px)
      padding 1rem 1.4rem
  
  &__today-button
    font bold 1rem font-family
    text-transform uppercase
    color #868686
    background none
    border none
    cursor pointer
    outline none

    @media screen and (max-width: 768px)
      font-size 0.8rem

    &:focus
    &:active
      color color-orange
