.social-icon
  cursor pointer
  outline none
  &:hover path
    @media (hover:hover)
      fill color-warm
  & path
    fill #757575
  &:focus path
    fill color-warm
  &:active
    @media (hover:hover)
      transform scale(0.9)
    & path 
      @media (hover:none)
        fill color-warm      
  
  &_color_white
    & path
      fill #ffffff
    &:hover path
      @media (hover:hover)
        fill #ffffff
        opacity 0.5
    &:focus path
      fill #ffffff
      opacity 0.5
    &:active path
      @media (hover:none)
        fill #ffffff
        opacity 0.5
  