.social-icon
	cursor pointer
	&:hover path
		@media (hover:hover)
			fill color-warm
	& path
		fill #757575	
	&:active
		@media (hover:hover)
			transform scale(0.9)
		& path 
			@media (hover:none)
				fill color-warm			
	
	&_color_white
		& path
			fill #ffffff
		&:hover path
			@media (hover:hover)
				fill #ffffff
				opacity 0.5
		&:active path
			@media (hover:none)
				fill #ffffff
				opacity 0.5
	