@import '../../../styles/mixins.styl'

.email-form
  &__input
    &_type_name
      margin-bottom 0.72rem
    
    &_type_email
      margin-bottom 0.8rem

  &__message
    inputField()
    margin-bottom 0.5rem
    padding 0.7rem 1rem
    width 100%
    resize none
    height 12.6vw
    min-height 6.318681318681319rem

  &__button
    text-align right