@import '../../../styles/mixins.styl'

.news-section
  &__title
    margin-bottom 2.4rem
    sectionTitle()
  
  &__container
    display flex
    flex-direction row
    justify-content space-around
    width 100%

    @media screen and (max-width:760px)
      flex-wrap wrap
  
  &__news-card
    flex 0 1 371.484px

    &:first-child
      margin-right 3%
      
      @media screen and (max-width:760px)
        margin 0 0 1rem 0
      
    
