.news-section
	&__header
		margin-bottom 2.4rem

	&__container
		width 100%
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content center

	&__news-card
		width 48.44%
		max-width 445.61px
		min-width 260.11px
		flex-shrink 1
		font-size 2vw
		&:first-child
			margin-right 3%
			@media screen and (max-width: 650px)
				margin 2%
		@media screen and (min-width: 1100px)
			font-size remify(22px)
		@media screen and (max-width: 814px)
			font-size remify(13px)
			
		
