.news-section__header
	text-transform uppercase
	font-size 34.69px
	color color-text
	font-weight bold
	text-align center
	margin-bottom 57px

.news-section__container
	width 100%
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content space-between

.news-section__news-card
.news-section__event-card
	width 555px
	height 410px
